@charset "UTF-8";

// 本頁專用變數(覆蓋)
// ------------------------------------------------------------
$isIndex:                true;
$img-index:              '../images/index';

$wrapper-b-spacing:      0;
$headings-color:         #000;
$font-size-h2:           30px;


// import
// ------------------------------------------------------------
@import "_client/settings"; // 本次專案專用變數(置頂)

// 共用
@import "core/function";
@import "core/mixins";
@import "core/variables";

// 由此 output css
@import "vendor/print";     // 列印樣式

// basic
@import "unit/base";
@import "unit/link";
@import "unit/typography";
@import "unit/list";
@import "core/util";

// == 本頁專用
// 前端
@import "_client/layout";
@import "_client/nav";

// 套件
@import "unit/btn";
@import "unit/goTop";
@import "unit/classes"; // 建議放置在最後一個

// 本專案自定前端樣式
@import "_client/custom";


// main
// ------------------------------------------------------------
section {
    @extend %clearfix;
}

#banner {
    position: relative;
    max-width: 1200px;

    img { max-width: 100%; }
}

h2 {
    line-height: 1.35;
}

.grid {
    display: inline-block;
    vertical-align: top;
    width: 33%;

    h3 {
        color: #434343;
        margin-top: 16px;
        margin-bottom: 20px;
    }

    .circle {
        @include size(260px);
    }
}

.title {
    font-family: 'cwTeXMing', serif;
    font-weight: 800;
    letter-spacing: 1.2px;
    src: url('//fonts.gstatic.com/ea/cwtexming/v3/cwTeXMing-zhonly.eot');
    src: url('//fonts.gstatic.com/ea/cwtexming/v3/cwTeXMing-zhonly.eot?#iefix') format('embedded-opentype'),
         url('//fonts.gstatic.com/ea/cwtexming/v3/cwTeXMing-zhonly.woff2') format('woff2'),
         url('//fonts.gstatic.com/ea/cwtexming/v3/cwTeXMing-zhonly.woff') format('woff'),
         url('//fonts.gstatic.com/ea/cwtexming/v3/cwTeXMing-zhonly.ttf') format('truetype');

    &.underline {
        border-width: 2px;
        line-height: 1;

        span {
            border-bottom: 2px solid $muted;
        }
    }
}
.products {
    text-align: left;
    padding: 80px 0 0 100px;

    .title {
        margin-bottom: 90px;
    }
}

.news-list {
    max-height: 200px;
    a {
        @extend .m-y-8, .hover-text-secondary;
        display: block;
        color: #000;
        position: relative;

        @include icon-square(left, 6px, #000, top 8px left 0);
    }
}