@charset "UTF-8";

// 本頁專用變數(覆蓋)
// ------------------------------------------------------------
$isIndex:                true;
$img-index:              '../images/index';

$wrapper-b-spacing:      5px;
$headings-color:         false;
$figure-img-full:        true;
$figure-effect:          'box-shadow .5s';

// import
// ------------------------------------------------------------
// 本次專案專用變數(置頂)
@import "_client/settings";

// 共用
@import "helper/function";
@import "helper/variables";
@import "helper/mixins";

// 由此 output css
@import "vendor/normalize"; // 重置復位
@import "vendor/print";     // 列印樣式
@import "base/basic";
@import "base/util";

// 本頁專用
@import "_client/unit/nav";
@import "_client/unit/goTop";
@import "_client/unit/btn";
@import "_client/unit/list";
@import "_client/unit/figure";
@import "_client/unit/modal";
@import "_client/unit/classes"; // 建議放置在最後一個

@import "_client/layout";


// main
// ------------------------------------------------------------
section {
    @extend %clearfix;
}

.icon-prev, .icon-next {
    cursor: pointer;
    @extend .hover-text-info;
    @include transition(color .3s);
}

#banner {
    position: relative;
    color: #fff;

    @include mq-max(800px) {
        height: 450px;
        .swiper-slide { overflow: hidden; }
    }
    @include mq-max(mobile) {
        height: 300px;
    }

    img {
        width: 100%;
        @include mq-max(800px) {
            width: auto;
            height: 100%;
            position: relative;
            left: 50%;
            @include transform(translateX(-50%));
        }
    }
    h1, h2, p, ul {
        position: absolute;
        text-align: left;
    }
    .font-xxxl {
        @include rem('font-size',60);
        font-weight: bold;
    }
    .font-xxl {
        @include rem('font-size',40);
    }
    .font-xl {
        @include rem('font-size',24);
    }
    @include mq-max(mobile) {
        .font-xxxl {
            font-size: rem(40);
        }
        .font-xxl {
            font-size: rem(27);
        }
        .font-xl {
            font-size: rem(17);
        }
    }
}
.b1 {
    h1 {
        letter-spacing: 3px;
        left: 7%;
        top: 32%;
    }
    p {
        @include mq-max(tablet) {
            line-height: 1.3 !important;
        }
        &:nth-of-type(1) {
            line-height: 1.7;
            left: 7%;
            top: 50%;
        }
        &:nth-of-type(2) {
            line-height: 1.6;
            right: 7%;
            top: 46%;

            @include mq-max(tablet) {
                left: 7%;
                top: 65%;
            }
        }
    }
}
.b2 {
    h1, ul {
        margin-bottom: 0;
    }
    h1 {
        line-height: 1.25;
        letter-spacing: 1px;
        left: 7%;
        bottom: 9%;
        @include mq(tablet,break(wide,-1)) {
            width: 60%;
        }
        @include mq-max(break(tablet,-1)) {
            bottom: 35%;
            right: 25%;
        }
        @include mq-max(phone) {
            font-weight: bold;
            right: 9%;
        }
    }

    ul {
        right: 7%;
        bottom: 9.5%;
        @include mq-max(break(tablet,-1)) {
            left: 7%;
        }
        @include mq-max(phone) {
            bottom: 10%;
        }
    }
    li {
        background: url(#{$img-path}/icon-check.svg) 0 center no-repeat;
        background-size: 22px 80%;
        padding-left: 30px;
        line-height: 1.35;
    }
}
.b3 {
    h1, h2, p {
        left: 6%;
        letter-spacing: 1px;
    }
    h1 {
        font-weight: bold;
        top: 33%;
    }
    h2 {
        top: 45%;
    }
    p {
        top: 58%;
        line-height: 1.6;
    }
}
.b4 {
    h1, p {
        left: 65%;
        @include mq-max(break(desktop,-1)) {
            left: 54%;
        }
        @include mq-max(tablet) {
            left: 40%;
        }
        @include mq-max(phone) {
            left: 10%;
        }
    }
    h1 {
        bottom: 45%;
    }
    p {
        &:nth-of-type(1) {
            line-height: 1.4;
            bottom: 27%;
        }
        &:nth-of-type(2) {
            line-height: 1.1;
            letter-spacing: 1px;
            bottom: 12%;
        }
    }
}

// 前進後退
.banner-prev, .banner-next {
    @include pos-center(y);
    font-size: em(75);
    color: rgba(#fff,.35);
    z-index: 3;

    @include mq-max(tablet) {
        font-size: em(50);
    }
    @include mq-max(phone) {
        font-size: em(30);
    }
}
.banner-prev { left: 1%; }
.banner-next { right: 1%; }
.swiper-button-disabled { opacity: .2; }
// 分頁
.swiper-pager {
    position: absolute;
    bottom: 6px !important;
    z-index: 2;
}
.swiper-pagination-bullet {
    width: 13px !important;
    height: 13px !important;
    background: rgba(#fff,.4) !important;
    opacity: .8 !important;

    &-active { border: 3px solid $brand-primary; }
}

.intro {
    figure, aside { height: 340px; }
    aside {
        @include mq-max(phone) {
            height: auto;
        }
    }
    figcaption, h4 {
        font-size: em(29);
        font-weight: 550;

        @include mq-max(phone-plus) {
            font-size: em(21);
        }
    }
    figcaption {
        @extend .text-left;
        line-height: 1.55;
        padding-top: rem(106);
        padding-left: rem(45);

        @include mq-max(phone-plus) {
            padding-top: 12%;
            padding-left: 6%;
        }
    }
    figure {
        background: #0065a2 url(#{$img-index}/productBg.jpg) 0 0 no-repeat;
        background-size: cover contain;
        margin: 0 8px 0 0;

        @include mq(801) {
            width: 59.49%;
        }
        @include mq-max(800) {
            float: none;
            margin-right: 0;
        }
        @include mq-max(phone-plus) {
            height: 200px;
        }

        img {
            @extend %float-r;
            @include transition(transform 1s);
            @include transform(translate(60px, 10px) scale(.9));

            @include mq(801,wide) {
                @include transform(translate(32%, 5%) scale(.8));
            }
            @include mq(phone,phone-plus) {
                @include transform(translate(10%, -15%) scale(.75));
            }
            @include mq-max(break(phone,-1)) {
                @include transform(translate(21%, -15%) scale(.65));
            }
            @include mq-max(mobile) {
                @include transform(translate(29%, -3%) scale(.5));
            }
        }

        &:hover {
            box-shadow: 3px 3px 10px rgba($brand-primary,.4);
            z-index: 2;
            img {
                @include transform(translate(60px, 10px) scale(1));

                @include mq(801,wide) {
                    @include transform(translate(32%, 5%) scale(.9));
                }
                @include mq(phone,phone-plus) {
                    @include transform(translate(10%, -15%) scale(.75));
                }
                @include mq-max(break(phone,-1)) {
                    @include transform(translate(21%, -15%) scale(.7));
                }
                @include mq-max(mobile) {
                    @include transform(translate(29%, -3%) scale(.6));
                }
            }
        }
    }
}
.youtube-open {
    @extend .m-x-a;
    margin-top: 40px;
    border-radius: 8px;
    background: #dcdcdc url(#{$img-index}/videoBg.gif) center no-repeat;
    position: relative;
    width: 85%;
    max-width: 354px;
    height: 200px;

    @include mq(break(phone,+1),800) {
        width: 70%;
        height: 60%;
    }
    @include mq-max(phone) {
        width: 85%;
        height: 150px;
    }

    @include el(after, $content:'\e093') {
        @extend .circle;
        color: rgba(#585858,.65);
        border: 3px solid rgba(#585858,.65);
        font-size: em(64);
        font-family: 'Icons';

        @include size(105px);
        @include pos-center;
        @include transition(color .5s, border .3s);
    }

    &:hover, &:active {
        &::after {
            color: #fff;
            border-color: #fff;
        }
    }
}

.carousel {
    background-color: #eee;
    padding: 0 5% 20px 5%;
    position: relative;
    height: 250px;

    .swiper-wrapper {
        // @include mq(desktop) {
        //     display: table;
        // }
    }
    .swiper-slide {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;

        // @include mq(desktop) {
        //     display: table-cell;
        //     vertical-align: bottom;
        // }

        span {
            // display: block;
            // margin-top: -10px;
            color: #707070;
            margin-top: 0;
            @include absolute(bottom 0 left 0 right 0);

            // @include mq-max(break(desktop,-1)) {
            // }
        }

        &:hover, &:active {
            span { @extend .text-primary; }
        }
    }
}

.carousel-prev, .carousel-next {
    color: #DBDCDC;
    font-size: em(32);
    font-weight: bold;

    @include pos-center(y);
}
.carousel-prev { left: 1.5%; }
.carousel-next { right: 1.5%; }
.swiper-button-disabled {
    color: #ddd;
    cursor: default;
    &:hover, &:active { color: #ddd; }
}

.download {
    main {
        background: $warning url(#{$img-index}/phone.png) 8.5% 20px no-repeat;
        width: 100%;

        @include mq(wide) {
            padding-top: 100px;
            width: rem(840);
            height: 340px;
            float: left;
        }
        @include mq(phone-plus,break(wide,-1)) {
            padding-top: 95px;
            padding-bottom: 75px;
        }
        @include mq-max(break(phone-plus,-1)) {
            background-position: 10px 65px;
            background-size: 46% auto;
            padding-top: 20px;
            padding-bottom: 18px;
        }
    }
    nav {
        @include mq(wide) {
            margin-left: 295px;
        }
        @include mq(phone-plus, break(wide,-1)) {
            margin-left: 285px;
        }

        a {
            display: inline-block;

            @include text-pic('app-apple.gif',161px,48px);


            &:nth-of-type(2) {
                background-image: url(#{$img-path}/app-google.gif);
                width: 157px; height: 46px;
            }
            &:nth-of-type(3) {
                background-image: url(#{$img-path}/app-win.gif);
                width: 184px; height: 46px;
            }

            &:hover, &:active { opacity: .8; }

            @include mq-max(break(phone-plus,-1)) {
                display: block;
                text-align: left;
                margin-left: 48%;
                background-size: contain;
                width: 48%;

                &:not(:last-of-type) {
                    margin-bottom: 18px;
                }
                &:nth-of-type(2), &:nth-of-type(3) {
                    width: 48%;
                }
            }
        }
    }
    h2 {
        @extend .m-t-0;
        font-weight: bold;
        margin-bottom: 30px;

        @include mq-max(break(phone,-1)) {
            font-size: em(32);
        }
    }
}
.workflow {
    display: block;
    background: #83cbc9 url(#{$img-index}/phone2.png) 91% 26px no-repeat;
    position: relative;

    &:hover, &:active {
        background-color: darken(#83cbc9,8);
    }

    @include mq(wide) {
        height: 340px;
    }
    @include mq(phone, break(wide,-1)) {
    }
    @include mq-max(break(wide,-1)) {
        background-position: 80% 26px;
        height: 220px;
    }
    @include mq-max(phone-plus) {
        background-position: 85% 26px;
    }
    @include mq-max(phone) {
        background-size: 30% auto;
        height: 150px;
    }

    strong {
        @include text-pic('index/title-workflow.png',200px,100px);
        position: absolute;

        @include mq(wide) {
            top: 33%;
            left: 17px;
        }
        @include mq-max(break(wide,-1)) {
            background-image: url(#{$img-path}/index/workflow-title.svg);
            width: 50%;
            height: 120px;
            top: 21%;
            left: 20%;
        }
        @include mq-max(phone-plus) {
            left: 15%;
        }
        @include mq-max(phone) {
            top: 10%;
            left: 3%;
            width: 55%;
        }
        @include mq-max(mobile) {
            top: 15.5%;
        }
    }
}