
@{
    ViewBag.Title = "線上諮詢";
    ViewBag.BodyClass = "OnLine";
}

<section class="main">
    <h4 class="m-t-0">營業時間外請多加利用24小時Mail諮詢系統，<br>我們將會盡速的回覆並解答您的問題。</h4>

    <form class="contact-form">
        <main class="text-left">
            <dl class="fields">
                <dt class="col-md-4">姓名：</dt>
                <dd class="col-md-5">
                    <input type="text">
                </dd>
            </dl>
            <dl class="fields">
                <dt class="col-md-4">諮詢內容：</dt>
                <dd class="col-md-5">
                    <textarea rows="4"></textarea>
                </dd>
            </dl>
            <dl class="fields">
                <dt class="col-md-4">回覆方式：</dt>
                <dd class="col-md-5">
                    <input type="checkbox" id="feedback-e" name="feedback" checked>
                    <label for="feedback-e" class="oi" data-glyph="check"></label> E-Mail回覆

                    <input type="checkbox" id="feedback-t" name="feedback">
                    <label for="feedback-t" class="oi" data-glyph="check"></label> 電話回覆
                </dd>
            </dl>
            <dl class="fields">
                <dt class="col-md-4">E-Mail：</dt>
                <dd class="col-md-5">
                    <input type="email">
                </dd>
            </dl>
            <dl class="fields">
                <dt class="col-md-4">聯絡電話：</dt>
                <dd class="col-md-5">
                    <input type="tel">
                </dd>
            </dl>
            <dl class="fields">
                <dt class="col-md-4">諮詢門市：</dt>
                <dd class="col-md-5">
                    <select>
                        <option>台北形象概念店</option>
                        <option>台北西門店</option>
                        <option>台北光復店</option>
                        <option>桃園復興店</option>
                        <option>新竹形象概念店</option>
                        <option>新竹中華店</option>
                        <option>台中英才店</option>
                        <option>台南中正店</option>
                        <option>高雄中正店</option>
                    </select>
                </dd>
            </dl>
        </main>
        <button>送出諮詢資料</button>
    </form>
</section>

