@charset "UTF-8";

// 常用套件，但樣式常常改
// ------------------------------------------------------------
$figure-inline-hack:      false !default;
$figure-effect:           false !default;

// common style
%figure-overlay {
    @include size(100%);
    @include absolute(left 0 top 0);
}

figcaption {
    @include prefix(backface-visibility, hidden);
    &::before, &::after { pointer-events: none; }
    a {
        z-index: z(figure) + 1;
        position: relative;
    }
}

figure {
    position: relative;
    overflow: hidden;
    // cursor: pointer;
    margin: 0;

    @if $figure-inline-hack {
        margin-right: -4px;
        &:first-child { margin-left: -4px; }
    }

    @if $figure-effect { @include transition($figure-effect) }

    > a {
        @extend %figure-overlay;
        z-index: z(figure);
        opacity: 0;
        background: #fff; // for IE10 bugfix
    }

    // RWD
    @if $enable-RWD {
        @include mq-max(break(desktop, -1)) {
            float: none;
            display: inline-block;
        }
        @include mq-max(tablet) {
            width: 48%;
            max-width: none;
            margin: 3px;
            margin-bottom: 15px;
        }
        @include mq-max(phone) {
            width: 100%;
        }
    }
}

.font-tiny   { @include rem('font-size',13); }  // 13px
.font-sm     { @include rem('font-size',14); }  // 14px
.font-md     { @include rem('font-size',16); }
.font-lg     { @include rem('font-size',20); }  // 20px
.font-xl     { @include rem('font-size',24); }
.font-xxl    { @include rem('font-size',32); }
.font-xxxl   { @include rem('font-size',40); }
.font-jumbo  { @include rem('font-size',60); }


// 本次專案才用到的樣式
// ------------------------------------------------------------
.w-30 { width: 30%; }

.underline {
    border-bottom: 1px solid;
}

