@charset "UTF-8";


/*      layout
-----------------------------------------------------------------------*/
// 置中(有最大寬度限制,非滿版才需要)
%container {
    max-width: $max-width;

    @if $enable-RWD {
        margin: 0 rem($container-x-spacing);
        @include mq($max-width) { margin: 0 auto; }
        @include mq-max(break(desktop,-1)) { margin: 0; }
    }
    @else {
        margin: 0 auto;
        @include mq-max(break(desktop,-1)) {
            padding-left: rem($container-x-spacing);
            padding-right: rem($container-x-spacing);
        }
    }
}
// 容器
%container-fluid {
    @extend %clearfix;

    @if $enable-RWD {
        @include mq-max(break(desktop,-1)) {
            padding-left: $spacer;
            padding-right: $spacer;
        }
    } @else {
        min-width: $min-width;
    }
}

.wrap {
    @extend %container, %container-fluid;
}

#header, #footer {
    @extend %container-fluid;
    position: relative;
}

#wrapper {
    @if $wrapper-bg     { background: $wrapper-bg; }
    @if not $enable-RWD { min-width: $min-width; }
    @if $lte7 { _height: 100%; }
    min-height: 100%;
    padding-bottom: $footer-height + $wrapper-b-spacing; // 內容與footer間距
}

// header
// ----------------------------------------------------------------------
#header {
    @if $header-bg     { background: $header-bg; }
    @if $header-height { height: $header-height; }
    z-index: z(header);

    // 本次專案
    @include absolute(top 0 right 0 left 0);

    &.stick {
        @include transition(height .5s);

        @include mq(break(#{$mobile-menu-bk},+1)) {
            height: 88px;
            .logo {
                margin-top: 36px;
                margin-left: 20px;
                height: 45px;
            }
            .btn-buy { margin-top: 8px; }
            #menu {
                margin-top: 16px;
                a {
                    background: none;
                    padding-top: 0;
                    color: #555;
                    &:hover, &:active, &.current { color: #000; }
                }
            }
        }
        @include mq-max(#{$mobile-menu-bk}) {
            height: $header-mobile-height - 25;

            .logo {
                height: $header-mobile-height - 45;
            }
        }
    }

    @include mq-max(break(desktop,-1)) {
        position: fixed;
    }
    @include mq-max(#{$mobile-menu-bk}) {
        border-top: 10px solid #000;
        height: $header-mobile-height;
    }
}

.logo {
    cursor: pointer; cursor: hand; // for ie
    z-index: z(logo);

    @if $logo-img {
        @include text-pic($logo-img, nth($logo-size,1), nth($logo-size,2));
    }

    // 本次專案
    @extend %float-l;
    margin-top: 37px;
    margin-left: 50px;

    @include mq-max(break(desktop,-1)) {
        margin-left: 8px;
    }
    @include mq-max(#{$mobile-menu-bk}) {
        margin-top: 5px;
    }
}

// == 立即購買
.btn-buy {
    @extend .text-white;

    @include mq(break(#{$mobile-menu-bk},+1)) {
        float: right;
        margin-right: 16px;
        background-color: #ff7e00;
        font-size: em(18);
        margin-top: 31px;
        border-radius: 8px;
        padding: $spacer*.625 $spacer*1.0625;
    }

    &:hover, &:active, &:focus {
        background-color: darken(#ff7e00,6);
        outline: none;
    }
}

// == top-nav
%top-nav-root {
    @include mq(break(#{$mobile-menu-bk},+1)) {
        color: #fff;
        font-size: em(14);
        line-height: 1.01;
        letter-spacing: 1px;
    }
}
%top-nav-root-hover {
    @include mq(break(#{$mobile-menu-bk},+1)) {
        &:hover { color: lighten($warning, 20); }
    }
}
.top-nav {
    width: 100%;

    @include mq(break(#{$mobile-menu-bk},+1)) {
        background: #000;
        text-align: right;
        padding: 4px 16px;
    }

    .root {
        @extend %top-nav-root, %top-nav-root-hover;
        @include mq(break(#{$mobile-menu-bk},+1)) {
            &:not(:last-child) {
                margin-left: 4px;
                padding-right: 8px;
                border-right: 1px solid #fff;
            }
        }
    }
    .welcome {
        @extend %top-nav-root;
        @include absolute(left $gutter top 8px);
    }
    .user-nav {
        @include mq(break(#{$mobile-menu-bk},+1)) {
            display: inline;
        }
        @include mq-max(#{$mobile-menu-bk}) {
            &:hover, &:active {
                a { color: #ccc; }
            }
            a {
                color: #7d7d7d;

                &:hover, &:active { color: #fff; }
            }
        }
    }
}
.shopping-cart {
    position: relative;
    @include mq(break(#{$mobile-menu-bk},+1)) {
        display: inline-block;
    }
}
.cart-toggle {
    @extend %top-nav-root, %top-nav-root-hover;
    @include mq(break(#{$mobile-menu-bk},+1)) {
        border-left: 1px solid #fff;
        background: none;
    }
}
.cart-content {
    @extend .bg-white, .p-t-12;

    box-shadow: 3px 5px 15px rgba(#000,.3);
    z-index: z(overlay);

    @include absolute(right 0 top 120%);
    @include mq(break(#{$mobile-menu-bk},+1)) {
        width: 350px;
    }
    @include mq-max(#{$mobile-menu-bk}) {
        left: 0;
        top: 100%;
    }
}
// 產品列表
.cart-list {
    @extend %list-unstyled, .text-left;
    margin-left: 20px;
    margin-right: 20px;
    max-height: 500px;
    overflow-y: auto;

    @include mq-max(#{$mobile-menu-bk}) {
        max-height: 450px;
    }

    li {
        position: relative;
        @extend %clearfix, .m-t-4;

        &:not(:last-child) {
            @extend .p-b-4;
            border-bottom: 1px solid lighten($muted,55);
        }
    }
    .remove {
        @extend .text-muted, .hover-text-danger, .font-xl;
        @include absolute(right 0 top -5px);
        background: none;
    }
}
.cart-img {
    @extend %float-l, .text-center, .m-r-16;
    width: 82px;
    background: #eee;
    img {
        max-width: 100%;
        max-height: 60px;
    }
}
.cart-info {
    padding-right: 14px;
    overflow: hidden;
}
// 小計+結帳btn
.cart-bar {
    @extend .m-t-12;
    padding: 18px 12px;
    border-top: 1px solid lighten($muted,55);
}
.btn-cart {
    @extend .text-center, .p-y-12, .font-md, .m-t-16;
    width: 100%;
    letter-spacing: 2px;
}




// footer 頁腳
// ----------------------------------------------------------------------
#footer {
    @if $footer-bg { background: $footer-bg; }
    @if $footer-color { color: $footer-color; }
    min-height: $footer-height;
    margin-top: -($footer-height);
    z-index: z(footer);

    // 本次專案
}

.foot-nav {
    margin-bottom: 38px;

    @include mq-max(mobile) {
        margin-bottom: 0;
    }

    a {
        @extend .text-white, .hover-text-warning;
        display: inline-block;
        letter-spacing: 1px;
        background: url(#{$img-path}/foot-nav-icon.gif) 10px 0 no-repeat;
        padding-top: 50px;

        &:nth-child(2) { background-position: -133px 0; }
        &:nth-child(3) { background-position: -283px 0; }
        &:nth-child(4) { background-position: -427px 0; }
        &:not(:last-child) {
            @include mq(phone-plus) {
                margin-right: rem(85);
            }
            @include mq(break(mobile,+1), break(phone-plus,-1)) {
                margin-right: 5%;
            }
        }
        @include mq-max(mobile) {
            margin-bottom: 25px;
            padding-top: 42px;
            margin-left: 7%;
            margin-right: 7%;
        }
    }
}
