@charset "UTF-8";


// == config
// ----------------------------------------------------------------------
$img-path:              '../images' !default;
$font-path:             '../font' !default;
$isIndex:               false !default;           // 首頁用
$isPage:                false !default;           // 內頁用
$enable-RWD:            false !default;

// 抽象色
$brand-primary:           #f1bc2f;    // 主色
$brand-secondary:         #513d29;    // 輔色
$muted:                   #bdb1a2;    // 灰色
$success:                 #00b4bd;    // 綠
$info:                    #108DBA;    // 藍
$warning:                 #ff8144;    // 黃
$danger:                  #B64371;    // 紅

// 情境狀態 + 配色
$state-type: (
    primary:              $brand-primary,
    secondary:            $brand-secondary,
    muted:                $muted,
    success:              $success,
    info:                 $info,
    warning:              $warning,
    danger:               $danger
);


// == helper/variables, base/all
// ----------------------------------------------------------------------
$body-bg:               #fcfbf9;
$body-color:            #333;
$font-family-base:      Arial,\5FAE\8EDF\6B63\9ED1\9AD4,"微軟正黑體","Microsoft JhengHei",sans-serif !default;
$font-family-sp:        'Montserrat', sans-serif;

$headings-color:        $brand-secondary !default;

$font-size-h1:          40px !default;
$font-size-h2:          32px !default;
$font-size-h3:          30px !default;
$font-size-h4:          24px !default;
$font-size-h6:          18px !default;

// table
$table-border-color:    lighten(#607D8B,40);
$table-pd:              8px 12px;
$th-styled:             (color: darken($brand-primary,5), background: lighten($muted,60));


// == layout
// ----------------------------------------------------------------------
$min-width:             998px;     // 網頁最小尺寸
$max-width:             1400px;     // 網頁最寬尺寸: .wrap
$menu-item:             'AboutUs' 'Lawyers' 'Service' 'Blog' 'ContactUs';

$wrapper-bg:            false !default;
$wrapper-b-spacing:     50px !default;
$container-x-spacing:   16px !default;

// header
$header-height:         120px !default;
$header-bg:             #fff !default;
$header-mobile-height:  95px; // 本次專案

// logo
$logo-img:              'logo.svg' !default; // 'logo.gif' or false
$logo-size:             111px 72px !default;

// footer
$footer-height:         210px !default;
$footer-bg:             $muted !default;
$footer-color:          false;

// z-index
$z-index: (
    header:             6,
    main:               1,
    footer:             2,
    sidebar:            4,
    banner:             7,
    logo:               10,
    menu:               20,
    figure:             1,
    dropdown:           21,
    tooltip:            22,
    modal:              23,
    toggle:             25,
    goTop:              99,
    overlay:            999
);


// == unit
// ----------------------------------------------------------------------


