@charset "UTF-8";

// == config
// ----------------------------------------------------------------------
$isIndex:                 false !default;           // 首頁用
$isPage:                  false !default;           // 內頁用


// == color
// ----------------------------------------------------------------------
// 語義色
// http://www.w3schools.com/w3css/w3css_colors.asp
// 黑白
$light-gray:              #F1F1F1 !default;
$gray:                    #9E9E9E !default;
$dark-gray:               #616161 !default;

$pale-red:                #FFE7E7 !default;
$pale-yellow:             #fffFD7 !default;
$pale-green:              #E7FFE7 !default;
$pale-blue:               #E7FFFF !default;

// 抽象色
$brand-primary:           #0075a9;    // 主色
$brand-secondary:         #b28247;    // 輔色
$muted:                   #ececec;    // 灰色
$success:                 #00b4bd;    // 綠
$info:                    #4098e5;    // 藍
$warning:                 #c9a063;    // 黃
$danger:                  #684749;    // 紅

// 情境狀態 + 配色
$state-type: (
    primary:              $brand-primary,
    secondary:            $brand-secondary,
    muted:                $muted,
    success:              $success,
    info:                 $info,
    warning:              $warning,
    danger:               $danger
);

// == overwriting
// ----------------------------------------------------------------------
// link
$link-color:                 #333 !default;              // 連結文字色
$link-hover-color:           $brand-primary !default;            // 移過後顏色

$font-family-sp:             'Didact Gothic', sans-serif;;

$btn-border-radius:          false;
$btn-bg:                     #000;
$btn-hover-bg:               $brand-secondary;
$btn-color:                  #fff;
$btn-hover-color:            #fff;
$btn-font-size:              1rem;
$btn-line-height:            1.01;
$btn-pd:                     .5rem 1rem;
$btn-styles: (
    letter-spacing:          1px,
    min-width:               175px,
    text-align:              center,
);

$input-border-color:         #a9a9a9;
$input-radius:               false;
$input-focus-color:          lighten($brand-primary,5);

// == layout
// ----------------------------------------------------------------------
$min-width:             998px;     // 網頁最小尺寸
$max-width:             1200px;     // 網頁最寬尺寸: .wrap
$menu-item:             false;

$wrapper-bg:            false !default;
$wrapper-b-spacing:     80px !default;
$container-x-spacing:   14px !default;

// header
$header-height:         90px !default;
$header-bg:             #fff !default;
$header-mobile-height:  70px; // 本次專案

// logo
$logo-img:              'logo.gif' !default; // 'logo.gif' or false
$logo-size:             181px 65px !default;

// footer
$footer-height:         238px !default;
$footer-bg:             #313131 !default;
$footer-color:          false;

// z-index
$z-index: (
    header:             6,
    main:               1,
    footer:             2,
    sidebar:            4,
    banner:             7,
    logo:               10,
    menu:               20,
    figure:             1,
    dropdown:           21,
    tooltip:            22,
    modal:              23,
    toggle:             25,
    goTop:              99,
    overlay:            999
);

// == nav
// ----------------------------------------------------------------------
// navbar style
$navbar-height:         false !default;
$navbar-bg:             false !default; // #2AA19D

// nav style
$sub-nav-has:           true !default;    // 子選單
$nav-root:              if($sub-nav-has, 'li > a', 'a') !default;
$nav-height:            false !default;   // 'full' | 18px | flase
$nav-font-size:         17px !default;
$nav-color:             #626262 !default;

// 行動版
$mobile-menu-bk:        'tablet' !default;     // 從()螢幕寬度以下開始出現行動版選單
$mobile-menu-style:     'overlay' !default;
$mobile-menu-bg:        false !default;        // rgba(#fff,.95)
$mobile-menu-width:     100% !default;
$mobile-close:          false !default;        // 'mobile-close'
$mobile-transition:     'transform .3s, opacity 1s' !default; // push - left .35s; overlay - opacity 1s