
@{
    ViewBag.Title = "台南中正店";
    ViewBag.BodyClass = "Stores";
    ViewBag.subnav = "store_tainan";
}

<section class="main small-width">

    <section class="m-t-48 m-b-64 text-center">
        <div class="grid c-1-2">
            <img src="~/Content/images/contact/tn-manager.jpg" alt="店經理:Andy" class="circle">
            <h3>店經理:Andy</h3>
        </div>

        <div class="grid c-1-2">
            <img src="~/Content/images/contact/tn-desinger.jpg" alt="資深設計師:Lucas" class="circle">
            <h3>資深設計師:Lucas</h3>
        </div>
    </section>

    <section class="row row-x-0">
        <main class="col-6">

            <ul class="list-unstyled font-lg">
                <li>地址: 台南市中西區中正路157號(近西門路口)</li>
                <li>電話: (06)220-3311</li>
                <li>營業時間: 12:00 ~ 22:00 (假日無休,每星期三公休)</li>
                <li>E-Mail: <a href="mailto:TN@ez.club.tw">TN@ez.club.tw</a></li>
            </ul>

            <p class="m-t-32 m-b-16">
                親愛的訪客您好，您可於門市營業時間內，利用社群軟體與我們連絡，讓我們以最快的速度為您服務。<br>
                若門市客人較多，可能會無法立即回應，或可改撥門市電話與我們連絡。謝謝!
            </p>

            <div class="fb-like" data-href="https://www.facebook.com/EZTPGF" data-width="400" data-height="The pixel height of the plugin" data-colorscheme="light" data-layout="standard" data-action="like" data-show-faces="true" data-send="false"></div>

            <nav class="club-nav">
                <a href="line://ti/p/ut-gFj6MWn" title="LINE"><img src="~/Content/images/contact/Line.gif"></a>
                <a href="http://m.me/EZTND" title="FB Messenger"><img src="~/Content/images/contact/FB_MSG.gif"></a>
            </nav>

        </main>

        <aside class="map col-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3672.852278008577!2d120.19705031547983!3d22.992458984968344!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346e7664a7148ddb%3A0xc2559c2c84b28a74!2zNzAw5Y-w5Y2X5biC5Lit6KW_5Y2A5Lit5q2j6LevMTU36Jmf!5e0!3m2!1szh-TW!2stw!4v1498123837024" width="100%" height="440" frameborder="0" style="border:0" allowfullscreen></iframe>
        </aside>
    </section>

    @Html.Partial("sidebar")

</section>

