
@{
    ViewBag.Title = "選擇EZ的10大理由";
    ViewBag.BodyClass = "Best_choice";
}

<header class="banner wrap">
    <img class="pic-full" src="~/Content/images/best/banner.jpg" alt="10大理由banner">
    <h1 class="font-xxxl">
        為什麼我們要選擇<br>
        <img src="~/Content/images/best/title-logo.gif" alt="ElegaZzle COLLEZIONI">
        精品訂製西服
    </h1>
</header>

<section class="main">
    <dl class="list-indent">
        <dt class="font-lg">1. 價格透明化</dt>
        <dd>布料價格公開透明，顧客可放心挑選各種喜愛的布料製作你獨一無二的西服。</dd>
        <dt class="font-lg">2. 獨立開發專屬東方人體型的立體剪裁版型</dt>
        <dd>跟隨國際流行趨勢，隨趨勢潮流調整原始版型，流行與世界同步。</dd>
        <dt class="font-lg">3. 全台八家直營門市，更便捷的可跨區域售後服務</dt>
        <dd>您可在台中門市量身訂做、高雄門市試穿取件，若居住在台北，則未來可在台北門市調整尺寸及修改。</dd>
        <dt class="font-lg">4. 依照客戶預算與需求，給予最適當的訂製建議</dt>
        <dd>用心把每位顧客當朋友，沒有強迫推銷、只為您打造最符合預算與需求的專屬訂製西服。</dd>
        <dt class="font-lg">5. 精品等級的贈品，讓您體面穿</dt>
        <dd>所有滿額禮、新婚禮的禮贈品均使用獨家代理品牌精品，與訂製西服相得益彰。</dd>
        <dt class="font-lg">6. 永久性、跨區域售後服務，調整尺寸更方便</dt>
        <dd>只要在EZ訂製，我們希望您的訂製西服能保持永久合身筆挺，需要調整尺寸，八家門市隨時為您服務。</dd>
        <dt class="font-lg">7. 最高等級精緻做工，最親民經濟的價格</dt>
        <dd>K襯、毛襯、袖襯、袖口開叉、平尾鳳眼、領眼、口袋D字結、於此價格等級中，使用最規格的做工。</dd>
        <dt class="font-lg">8. 量身前後精確討論各部份尺寸，適時給予顧客最專業的建議</dt>
        <dd>所有尺寸都會在版衣上讓顧客親身體驗，不須靠想像，親自檢驗適合尺寸，更不須繁瑣的衣在試穿修改。</dd>
        <dt class="font-lg">9. 啟用最新3D人體掃描儀，量身更加精密準確</dt>
        <dd>經由最新的3D人體掃描儀，精確的計算您身材每個部位的尺寸，讓訂製西服更合身服貼，趨近完美。</dd>
        <dt class="font-lg">10. 用料實在，堅持品質</dt>
        <dd>我們不僅精挑細選每塊西服的面料，連看不見的內襯與墊肩等輔助品，都採用高規格的等級，堅持整套西服從裡到外的品質，不以偷工減料來提高利潤。</dd>
    </dl>
</section>