
@{
    ViewBag.Title = "版權聲明";
}

<section class="main text-left font-lg">
    <h2 class="text-primary underline m-b-48 m-t-0">@ViewBag.Title</h2>
    <p>本網站的一切軟體、圖片、文字或照片的一切智慧財產權，都屬於「EZ西服」暨「衣立實業有限公司」所有，非經本公司授權書面同意，不得無權複製、散佈、上傳、公告、轉讓，或用任何方式傳輸、改變本網站的任何內容，亦無權解編、還原、拆解本網站或軟體。若您未經本公司的同意而擅自使用本網站的任何內容，本公司有權採取一切法律途徑維護本公司的權利。</p>
    <p>本網站將努力提供準確性和及時的訊息與內容，但這些訊息與內容僅限於現有狀況，對其準確性和及時性，本網站不給予任何直接或間接的保證。本網站之資料可能含有技術上的不正確或圖文上的錯誤，本公司保留隨時對本網站進行修改及更正的權利。</p>
    <p>本網站所提供至第三人所有或經營之網站(以下稱第三人網站)之外部連結，係為提供使用之便利而設置，本公司無從審查該第三人網站，亦未對第三人或其產品/服務等提供任何保證、贊助或推薦、為任何聲明與擔保，或對其內容負擔任何責任，建議您於審慎考量相關風險後再決定是否使用該第三人網站之連結。</p>
    <p>本公司不保證本網站不會發生失誤、錯誤、遺漏、中斷、缺失、傳輸的延誤、電腦病毒、或網路故障等情事，亦無法保證本網站不會因遭病毒或其他有害軟體/程式之侵害所造成您使用上的不便、資料喪失、錯誤、遭人竄改或其他經濟上損失或不利益等狀況。建議您使用本網站時，應自行採取必要防護措施，本公司對於您使用或無法使用本網站所提供之服務而造成任何損害或不便，不負賠償責任。</p>
    <br>
    <p>若您對以上內容有任何問題，請與我們聯絡。</p>
</section>

