
@{
    ViewBag.Title = "滿額禮 優惠活動!! 全省同步開跑!!";
    ViewBag.BodyClass = "Event";
}

<div class="main p-x-24">
    <h1 class="underline text-center p-b-24 m-b-48">@ViewBag.Title</h1>

    <section class="event-content">

        <article>
            <h5><strong>即日起!至本月底止!! <br>凡至EZ西服全省門市</strong></h5>
            <p>消費滿NT$5000元，<br>
            即贈送RAF SIMONS時尚領帶一條或時尚領夾一支
            (價值NT$1280.)</p>

            <p>消費滿NT$8000元，<br>
            即贈送<strong class="text-primary">RAF SIMONS時尚袖釦一組</strong><br>
            (價值NT$1980.)</p>

            <p>消費滿NT$10000元，<br>
            即贈送<strong class="text-primary">RAF SIMONS時尚皮帶一條</strong><br>
            (價值NT$2980.)</p>

            <p>消費滿NT$12000元，<br>
            即贈送<strong class="text-primary">RAF SIMONS時尚領帶與時尚袖釦一組</strong><br>
            (價值NT$3260.)</p>

            <p>消費滿NT$15000元，<br>
            即贈送<strong class="text-primary">RAF SIMONS時尚精品四選二 </strong><br>
            (價值NT$????.)</p>

            <h5><strong>數量有限，敬請把握機會!!</strong></h5>
        </article>
    </section>

    <div class="m-t-24 m-x-16">
        消費金額計算方式以個人當日單筆消費為準，不可多人合併計算，亦不得累計。所有禮品不可要求折現或抵扣消費金額，亦不可要求兌換其他物品，且不可與其他優惠活動同時使用。
    </div>
</div>

