
@{
    ViewBag.Title = "訂製流程";
    ViewBag.BodyClass = "Flow";
}

<header class="title wrap">
    <img class="banner" src="~/Content/images/flow/banner.jpg" alt="訂製流程banner">
    <h1 class="font-xxxl">@ViewBag.Title</h1>
</header>

<section class="main row text-center">
    <div class="col-6 m-b-48"><img src="~/Content/images/flow/step1.jpg" alt=""></div>
    <div class="col-6 m-b-48"><img src="~/Content/images/flow/step2.jpg" alt=""></div>
    <div class="col-6 m-b-48"><img src="~/Content/images/flow/step3.jpg" alt=""></div>
    <div class="col-6 m-b-48"><img src="~/Content/images/flow/step4.jpg" alt=""></div>
    <div class="text-center"><img src="~/Content/images/flow/step5.jpg" alt=""></div>
</section>

