
@{
    ViewBag.Title = "訂製流程";
    ViewBag.BodyClass = "Flow";
}

<header class="banner wrap">
    <img class="pic-full" src="~/Content/images/flow/banner.jpg" alt="訂製流程banner">
    <h1 class="font-xxxl">@ViewBag.Title</h1>
</header>

<section class="main row text-center">
    <div class="col-6 m-b-48"><img class="full" src="~/Content/images/flow/step1.jpg" alt="1.洽談選料"></div>
    <div class="col-6 m-b-48"><img class="full" src="~/Content/images/flow/step2.jpg" alt="2.量身採吋"></div>
    <div class="col-6 m-b-48"><img class="full" src="~/Content/images/flow/step3.jpg" alt="3.挑選款式"></div>
    <div class="col-6 m-b-48"><img class="full" src="~/Content/images/flow/step4.jpg" alt="4.裁剪、車縫、整燙"></div>
    <div class="text-center"><img src="~/Content/images/flow/step5.jpg" alt="5.完成試穿，搭配件"></div>
</section>

