
@{
    ViewBag.Title = "西服與襯衫的洗滌保養技巧";
    ViewBag.BodyClass = "Maintain";
}

<header class="banner wrap">
    <img src="~/Content/images/maintain/banner.jpg" alt="banner">
</header>

<div class="main p-x-24">
    <h1 class="underline text-center p-b-24">@ViewBag.Title</h1>

    <section class="maintain-content clearfix">
        <img class="float-r" src="~/Content/images/maintain/pic.jpg" alt="插圖">
        <article class="col-rest">
            <p>西服無論從製作，穿著還是搭配與保養都有很多的學問，正確的保養自己的西服，才能讓他壽命更長久。</p>

            <ol class="m-l-24 m-t-16">
                <li>西裝脫下來以後，請使用我們的西裝專用衣架，可以保持西裝的平整，更可以保護西裝肩型不走樣喔!</li>
                <li>西裝布料都怕日曬雨淋，尤其是台灣多變的天氣，長久的日曬容易使布料掉色，若是淋到雨的話請盡快送洗，以免內襯吸飽了雨水而變質進而影響到西裝面料。</li>
                <li>襯衫最容易髒的部分在領口與袖口的內側，建議一有髒汙立即清洗，以免汙垢累積到纖維內部，造成無法徹底清除。</li>
            </ol>

            <dl>
                <dt>(一) 西裝洗滌方法</dt>
                <dd>
                    不可水洗，不可漂白，不可擰乾，中溫熨燙，需乾洗。<br>
                    灰塵可用天然軟毛刷刷去，也可用膠帶(封箱膠帶)粘吸塵土，效果良好。如有較嚴重的塵土與污漬，則應專門乾洗。要注意的是；西裝一般不適於水洗，原因是西裝內部用襯裡複雜水洗會造成脫膠，並導致面料損傷，造成衣服變形。
                </dd>
            </dl>
            <dl>
                <dt>(二) 西裝保養事項</dt>
                <dd>
                    西裝通常的耐用年限約3-5年，建議洗滌方法為乾洗。另外，即使是乾洗，也應慎選洗衣店，我們比較推薦傳統非連鎖的洗衣店，老師傅的功力是值得信賴的!<br>
                    一套西裝盡量不要連續穿超過3天，因為布料纖維會有些微的延展性，穿久後會發生局部形變，應該穿幾天後在專門衣架上懸掛幾天，使其恢復原狀。所以，應備兩三套替換穿著。建議一套西裝配2條西褲，另外應有2-3條西褲作日常替換。
                </dd>
            </dl>
        </article>
    </section>

    <section class="maintain-content clearfix">
        <img class="float-l" src="~/Content/images/maintain/pic2.jpg" alt="插圖">
        <article class="col-rest">
            <p>口袋盡量不要放置任何物品，回家換下衣服後，即取出口袋內的所有物品，如讓口袋內填滿東西而懸掛著，衣服很容易變形.西服口袋不放物品為佳，名片與錢包與手機等小物件應放置西服上衣內袋為佳， 上衣兩個外口袋不宜放置物品，以免變形不服貼。</p>
            <p>經常清刷衣服，塵污是西服的最大敵人，會使西服失去清新感，故須常用刷子輕輕刷去塵土，有時西服沾上其他的纖維或較不容易除去的塵埃，可以用膠帶加以吸附，效果很好。</p>
            <p>西服簡易除皺，久穿或久放衣櫥中的 西服，掛在稍微濕度的地方，有利於纖維恢復，但濕度過大影響西服定型效果，一般毛料西服在相對濕度35%-40%環境中放置一晚，可除去衣服皺紋。</p>
            <p>下班不穿或換季不穿最好用專用西服衣架掛好，吊掛西服最好是木質或塑料做成的寬柄圓弧形西服專用衣架，這種衣架多被製成衣褲聯合衣架，褲子吊掛可用衣褲聯合衣架，也可用帶夾子的西褲專用架，將褲線對齊，夾住褲腳，倒掛起來。</p>
            <p>西服的收藏，收藏西服前，先除去衣服污垢送乾洗店乾洗，乾洗後用衣架吊好，套上防塵套，收藏起來，收藏處最好是通風性良好與濕度低的地方。</p>
        </article>
    </section>

    <section class="maintain-content clearfix">
        <img class="float-r" src="~/Content/images/maintain/pic3.jpg" alt="插圖">
        <article class="col-rest">
            <dl>
                <dt>(一) 襯衫洗滌說明</dt>
                <dd>
                    請每天清洗襯衫，因為污垢會隨著時間深入纖維內部，而造成領子與袖口內側汙垢日積月累無法清除。<br>
                    領子與袖口內側部位可用軟刷子(牙刷)刷洗。<br>
                    領子與袖口不可搓擰，以免脫膠與起皺。<br>
                    用中性皂粉洗滌與洗滌後不可擰乾，從洗盆中捏住左右領口順勢撈起並用衣架掛好拉平，讓其自然脫水晾乾，可減少皺褶。<br>
                    宜風乾，避免曝曬，以免衣物掉色。<br>
                    白色料應勤換與勤洗，深色料需單獨洗滌。<br>
                    全棉與毛料不可漂白，切忌硬性物摩擦，以免起毛球與抽絲。<br>
                    不可長時間浸泡於衣領精之類的洗劑中（15-20分鐘為宜）
                </dd>
            </dl>
            <dl>
                <dt>(二) 注意事項：</dt>
                <dd>
                    不要把襯衫和牛仔褲一起放入洗衣機。<br>
                    最好用手洗襯衫，實在要請洗衣機幫忙，一定記得把它放入洗衣袋。<br>
                    超過30秒是純棉襯衫不可接受的脫水時間。<br>
                    純棉襯衫其實更應該熨燙，不要折疊，用衣架掛好。<br>
                    洗衣時添加柔順劑，可使下次穿著襯衫的觸感更佳。
                </dd>
            </dl>
        </article>
    </section>

</div>