
@{
    ViewBag.Title = "西服與襯衫的洗滌保養技巧";
    ViewBag.BodyClass = "Maintain";
}

<header class="banner wrap">
    <img src="~/Content/images/maintain/banner.jpg" alt="banner">
</header>

<div class="main p-x-16">
    <h1 class="underline text-center p-b-32">@ViewBag.Title</h1>

    <section class="row m-y-48">
        <article class="col-md-6">
            <p>西服無論從製作，穿著還是搭配與保養都有很多的學問，正確的保養自己的西服，才能讓他壽命更長久。</p>

            <ol class="m-l-24 m-t-16">
                <li>西裝脫下來以後，請使用我們的西裝專用衣架，可以保持西裝的平整，更可以保護西裝肩型不走樣喔!</li>
                <li>西裝布料都怕日曬雨淋，尤其是台灣多變的天氣，長久的日曬容易使布料掉色，若是淋到雨的話請盡快送洗，以免內襯吸飽了雨水而變質進而影響到西裝面料。</li>
                <li>襯衫最容易髒的部分在領口與袖口的內側，建議一有髒汙立即清洗，以免汙垢累積到纖維內部，造成無法徹底清除。</li>
            </ol>

            <dl>
                <dt>(一) 西裝洗滌方法</dt>
                <dd>
                    不可水洗，不可漂白，不可擰乾，中溫熨燙，需乾洗。<br>
                    灰塵可用天然軟毛刷刷去，也可用膠帶(封箱膠帶)粘吸塵土，效果良好。如有較嚴重的塵土與污漬，則應專門乾洗。要注意的是；西裝一般不適於水洗，原因是西裝內部用襯裡複雜水洗會造成脫膠，並導致面料損傷，造成衣服變形。
                </dd>
            </dl>
            <dl>
                <dt>(二) 西裝保養事項</dt>
                <dd>
                    西裝通常的耐用年限約3-5年，建議洗滌方法為乾洗。另外，即使是乾洗，也應慎選洗衣店，我們比較推薦傳統非連鎖的洗衣店，老師傅的功力是值得信賴的!<br>
                    一套西裝盡量不要連續穿超過3天，因為布料纖維會有些微的延展性，穿久後會發生局部形變，應該穿幾天後在專門衣架上懸掛幾天，使其恢復原狀。所以，應備兩三套替換穿著。建議一套西裝配2條西褲，另外應有2-3條西褲作日常替換。
                </dd>
            </dl>
        </article>
        <aside class="col-md-6">
            <img class="full" src="~/Content/images/maintain/pic.jpg" alt="插圖">
        </aside>
    </section>

</div>