
@{
    ViewBag.Title = "客戶服務";
    ViewBag.BodyClass = "Service";
}

<header class="banner wrap">
    <img class="pic-full m-a-24" src="~/Content/images/service/banner.jpg" alt="客戶服務banner">
    <h1 class="font-xxxl">量身訂製服務</h1>
    <p class="font-xl">除了整套西裝 (一件西裝+一件西褲) 的訂製外，西裝、西褲、背心、襯衫都可以單獨訂做，完全客製化的服務，個別剪裁與製作。無論高矮胖瘦，我們都有十足的信心讓您帶走一套令您滿意的西服! 平實的價格，優越的品質，並有免費調整修改的售後服務!</p>
</header>

<section class="main row service-content">
    <article class="col-6">
        <h1>調整修改服務</h1>
        <p class="font-xl">變胖變瘦了! 只要是EZ製作的西裝西褲在可調整的範圍內，都享有免費的調整修改服務哦! 詳情請親洽全省門市!!</p>
        <div class="pic1"><a href="~/QandA" class="btn primary">常見問題</a></div>
    </article>

    <article class="col-6">
        <h1>免費諮詢服務</h1>
        <p class="font-xl">只要是與西裝有關的任何方面問題，歡迎您來電或親臨各門市，我們很熱意與您解說與討論!</p>
        <div class="pic2"><a href="~/OnLine" class="btn primary">線上諮詢</a></div>
    </article>
</section>

