
@{
    ViewBag.Title = "男士精品";
    ViewBag.BodyClass = "Show_S1";
}

<section class="main">

    <article class="show s1">
        <img src="~/Content/images/show_s1/s1.jpg" alt="領帶" class="float-r">
        <main class="col-rest">
            <h1><strong>RAF SIMONS</strong> 領帶</h1>
            <p>從最適合年輕帥氣型男最喜愛的 5公分與 6公分寬度，到熟男或體型較壯碩所適合的8公分寬度，各種特殊花色，不定期更新上架!!</p>
        </main>
    </article>

    <article class="show s2 m-a-32">
        <img src="~/Content/images/show_s1/s2.jpg" alt="紳士袖釦" class="float-l">
        <main class="col-rest">
            <h1><strong>RAF SIMONS</strong> 紳士袖釦</h1>
            <p>重要的場合，讓您有與眾不同的品味，各式各樣的精選袖釦，讓您在宴會中擁有一個小小亮點。</p>
        </main>
    </article>

    <article class="show s3">
        <img src="~/Content/images/show_s1/s3.jpg" alt="義式皮鞋" class="float-l m-a-32">
        <main class="col-rest">
            <h1><strong>Amedeo</strong> 義式皮鞋</h1>
            <p>手工製作義式皮鞋，<br>讓您有與眾不同的品味。</p>
        </main>
        <ul class="list-grid">
            <li><img class="full" src="~/Content/images/show_s1/s3_1.jpg" alt="皮鞋"></li>
            <li><img class="full" src="~/Content/images/show_s1/s3_2.jpg" alt="皮鞋"></li>
            <li><img class="full" src="~/Content/images/show_s1/s3_3.jpg" alt="皮鞋"></li>
        </ul>
    </article>

</section>

