
@{
    ViewBag.Title = "領帶打法教學";
    ViewBag.BodyClass = "TieKnot";
}

<section class="main p-x-24">
    <h1 class="underline text-center p-b-32">@ViewBag.Title</h1>

    <article class="content-bordered row">
        <aside class="col-md-4 p-x-16">
            <h5><strong>半溫莎結 - Half Windsor Knot</strong></h5>
            <p>一般俗稱正單結，顧名思義，雖然只繞單邊，但打好的領帶結是正三角的，不會歪歪斜斜的! 適用於各種領型，特別適用於八字領。</p>
        </aside>
        <div class="col-md-8 bg-muted p-a-16">
            <img src="~/Content/images/tieknot/pic-hwk.jpg" alt="半溫莎結">
        </div>
    </article>

    <article class="content-bordered row">
        <aside class="col-md-4 p-x-16">
            <h5><strong>溫莎結 - Windsor Knot</strong></h5>
            <p>一般俗稱雙結打法，打好的領結屬於比較大的，適合厚度較薄的領帶或是身材較矮小的人使用，可以稍微縮短領帶打好的長度!</p>
        </aside>
        <div class="col-md-8 bg-muted p-a-16">
            <img src="~/Content/images/tieknot/pic-wk.jpg" alt="溫莎結">
        </div>
    </article>

    <article class="content-bordered row">
        <aside class="col-md-4 p-x-16">
            <h5><strong>阿爾伯特王子結 - Prince Albert Knot</strong></h5>
            <p>一般俗稱雙結打法，打好的領結屬於比較大的，適合厚度較薄的領帶或是身材較矮小的人使用，可以稍微縮短領帶打好的長度!</p>
        </aside>
        <div class="col-md-8 bg-muted p-a-16">
            <img src="~/Content/images/tieknot/pic-pak.jpg" alt="阿爾伯特王子結">
        </div>
    </article>

    <article class="content-bordered row">
        <aside class="col-md-4 p-x-16">
            <h5><strong>四手結 - Four in Hand Knot</strong></h5>
            <p>四手結是比較簡單的領帶打法，比較適合寬版領帶或比較厚實的領帶! 適用於領片較合的領型，例如尖領。</p>
        </aside>
        <div class="col-md-8 bg-muted p-a-16">
            <img src="~/Content/images/tieknot/pic-fhk.jpg" alt="四手">
        </div>
    </article>

    <article class="content-bordered row">
        <aside class="col-md-4 p-x-16">
            <h5><strong>小結 - Small Knot</strong></h5>
            <p>最簡單的領帶打法，如果記不住複雜打法的人，可以先從這種打法開始學，增加一些自信心!!</p>
        </aside>
        <div class="col-md-8 bg-muted p-a-16">
            <img src="~/Content/images/tieknot/pic-sk.jpg" alt="四手">
        </div>
    </article>

</section>