
@{
    ViewBag.Title = "訂製結婚西服 - 新婚賀禮大方送";
    ViewBag.BodyClass = "Wedding";
}

<div class="main p-x-24">
    <h1 class="underline text-center p-b-24 m-b-48">@ViewBag.Title</h1>

    <section class="wedding-content">
        <article>
            <h2 class="font-ming text-success">即日起，本公司推出新婚賀禮大方送優惠活動！</h2>
            <h5 class="text-warning">準新人親臨本公司全省門市訂製西服ㄧ套，即可獲得我們特別為新人準備的新婚賀禮！<br>數量有限敬請把握機會哦！！</h5>

            <h6><strong>活動說明：</strong></h6>
            <ol class="m-l-24 list-margin font-md">
                <li>此優惠活動僅限於即將步入禮堂的新人所準備，親臨門市時請攜帶相關證明文件方可享有優惠，於取件時領取新婚賀禮一份！</li>
                <li>相關證明文件可使用任何有載明新郎或新娘姓名之結婚消費單據，<br>例如：婚紗攝影訂單、喜餅訂單、婚宴酒席訂單、喜帖....等，方可享有優惠！</li>
                <li>於全國門市訂製西服一套 (金額不限)</li>
                <li>準新人親臨全省門市，訂製西服ㄧ套，免費贈送新婚賀禮一份<br>新婚賀禮包含
                    <ol class="list-unstyled">
                        <li>(1) 限量版 RAF SIMONS 時尚領帶一條(市價NT$1280.)</li>
                        <li>(2) 限量版 RAF SIMONS 時尚袖釦一組(市價NT$1980.)</li>
                    </ol>
                </li>
                <li>新人可於西服交貨當日領取新婚賀禮！</li>
                <li>新婚賀禮均為限量版，數量有限，以門市現有之花色與款式為主!</li>
                <li>新婚賀禮每對新人僅可領取一份，不得重複領取!</li>
                <li>此優惠活動是專為新人而規劃設計的，新婚賀禮不可要求折現或抵扣消費金額，亦不可要求兌換其他物品，且不可與其他優惠活動同時使用！</li>
            </ol>

            <h4><strong>新婚賀禮 數量有限 敬請把握機會哦！！</strong></h4>
        </article>
    </section>

</div>
