@charset "UTF-8";

// common - @extend in core/util
// ------------------------------------------------------------
// 常用樣式
.float-l       { @extend %float-l; }
.float-r       { @extend %float-r; }
.clearfix      { @extend %clearfix; }
.full          { @extend %full; }
.text-hide     { @extend %text-hide; }
.sr-only       { @extend %sr-only; }

// 偶爾用到
.block         { display: block; }
.inline-block  { display: inline-block; }
.inline        { display: inline; }
.clear         { clear: both; }
.hidden        { display: none; }
.circle        { border-radius: 50%; } // 圓形
.img-center    { display: block; margin: auto; }

.m-x-a {
    margin-right: auto;
    margin-left:  auto;
}

// spacing (ref: core/_variables.scss)
// ex. m-a-sm, p-y-12
@each $prop, $abbrev in (margin: m, padding: p) {
    @each $size, $lengths in $spacing {
        $length-x:   map-get($lengths, x);
        $length-y:   map-get($lengths, y);

        .#{$abbrev}-a-#{$size} { #{$prop}:        if($length-y == $length-x, $length-y, $length-y $length-x); } // a = All sides
        .#{$abbrev}-t-#{$size} { #{$prop}-top:    $length-y; }
        .#{$abbrev}-r-#{$size} { #{$prop}-right:  $length-x; }
        .#{$abbrev}-b-#{$size} { #{$prop}-bottom: $length-y; }
        .#{$abbrev}-l-#{$size} { #{$prop}-left:   $length-x; }

        // Axes
        .#{$abbrev}-x-#{$size} {
            #{$prop}-right:  $length-x;
            #{$prop}-left:   $length-x;
        }
        .#{$abbrev}-y-#{$size} {
            #{$prop}-top:    $length-y;
            #{$prop}-bottom: $length-y;
        }
    }
}


// text
// ------------------------------------------------------------
.text-left   { text-align: left; }
.text-right  { text-align: right; }
.text-center { text-align: center; }

@if $font-family-sp {
    .font-sp     { font-family: $font-family-sp; }
}


// 情境: var.scss> $states: true
// ------------------------------------------------------------
.text-white { color: #fff; }
.bg-white   { background: #fff; }

@if $states {
    @each $type, $color in $state-type {
        .text-#{$type} { color: darken($color,5); }
        .bg-#{$type}   { background: $color; }
        .hover-text-#{$type} {
            &:hover, &:active { color: lighten($color,5); }
        }
        .hover-#{$type} {
            &:hover, &:active { background: lighten($color,8); }
        }
    }
}


// RWD
// ------------------------------------------------------------
@if $enable-RWD {
    .mobile-hide {
        @include mq-max(break(desktop,-1)) {
            display: none;
            visibility: hidden;
        }
    }
}