@charset "UTF-8";

$goTop-pos:        bottom 2% right 2% !default;
$goTop-effect:     'color 1s, opacity .5s' !default;
$goTop-color:      $brand-primary !default;

$goTop-styles: (
    opacity: .65,
    font-size: em(35),
    color: $goTop-color
) !default;

$goTop-hover-styles: (
    opacity: 1
) !default;

//
// goTop
// --------------------------------------------------

%shared {
    color: $goTop-color !important;
}
.goTop {
    @extend %shared;
    z-index: z(goTop);

    @include fixed($goTop-pos);
    @include transition($goTop-effect);

    @each $attribute, $value in $goTop-styles {
        #{$attribute}: #{$value};
    }

    &:hover, &:active {
        @extend %shared;

        @each $attribute, $value in $goTop-hover-styles {
            #{$attribute}: #{$value};
        }
    }

    small, i { display: block; }
    small {
        @extend .font-tiny;
        margin-top: -12px;
    }
    i {
        margin-top: -5px;
    }
    // &.bottom { bottom: $footer-height + 20; }
}

.fadeIn {
    @include diy-animate(fadeIn, 1s 1 forwards) {
        0% {
            opacity: 0;
            @include prefix(transform, translateY(20px));
        }
        100% {
            opacity: 1;
            @include prefix(transform, translateY(0));
        }
    }
}
.fadeOut {
    @include diy-animate(fadeOut, 1s 1 forwards) {
        0% {
            opacity: 1;
            @include prefix(transform, translateY(0));
        }
        100% {
            opacity: 0;
            @include prefix(transform, translateY(20px));
        }
    }
}