@charset "UTF-8";

// Credit: https://github.com/suitcss/base
[tabindex="-1"]:focus {
    outline: none !important;
}

a {
    @if $link-color      { color: $link-color;}
    @if $link-decoration { text-decoration: $link-decoration; }
    @if $link-transition { @include transition($link-transition); }

    // blur 清除虛線框 for IE
    hlbr: expression(this.onFocus=this.blur());

    &:hover, &:active {
        color: $link-hover-color;

        @if $link-hover-decoration {
            text-decoration: $link-hover-decoration;
        }
    }
    &:focus {
        @if $link-tab-fous {
            @if length($link-tab-fous) > 1 {
                @include tabs-focus($tab-fous-style);
            }
            @else {
                @include tab-focus;
            }
        }
    }
}