@charset "UTF-8";

// var
// -----------------------------------------------------------------
// 共用
$input-bg:                  none !default;
$input-color:               darken($gray,10) !default;
$input-font-size:           15px !default;
$input-border-color:        lighten($muted,50) !default;
$input-border:              1px solid $input-border-color !default;
$input-border-focus:        lighten($brand-primary,15%) !default;
$input-placeholder:         lighten($gray,10) !default;
$input-disabled:            $light-gray !default;
$input-height:              $input-font-size * 1.8 !default;

// for .form-element
$form-element-bg:           $input-bg !default;
$form-element-pd:           0 $input-height*0.2 !default; // $gutter*.34 $gutter*.375
$form-element-radius:       $font-size-base/4 !default;
$form-element-shadow:       inset 0 1px 1px rgba(0,0,0,.075) !default;
$form-element-transition:   border-color ease-in-out .15s, box-shadow ease-in-out .15s !default;

$form-group-margin-bottom:  $spacer/2 !default;

// 追加樣式
$input-required-styles:     false !default;
$enable-input-underline:    false !default;


// 函數程式
// -----------------------------------------------------------------
// TEXT INPUT TYPES
// 使用方式
// #{text-inputs( all, '.form-control' )}
//
@function text-inputs( $types: all, $selector: input ) {
    $return: ();
    $input-types:
        text,
        password,
        date,
        datetime,
        datetime-local,
        month,
        week,
        email,
        number,
        search,
        tel,
        time,
        url,
        color,
        textarea,
        select;

    @if $types == all { $types: $input-types; }

    @each $type in $types {
        @if $type == textarea or $type == select {
            // $return: $return, unquote('#{$type}');
            $return: append($return, unquote('#{$type}'), comma);

            @if $selector != input {
                $return: unquote('#{$return}#{$selector}')
            }
        }
        @else {
            // $return: $return, unquote('#{$selector}[type="#{$type}"]');
            // $return: $return, unquote('[type="#{$type}"]');
            $return: append($return, unquote('[type="#{$type}"]'), comma);
        }
    }
    @return $return;
}

// 聚焦樣式(WebKit)
@mixin form-element-focus($color: $input-border-focus) {
    $color-rgba: rgba(red($color), green($color), blue($color), .6);

    @include mixin-dryer(form-focus) {
        &:focus {
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px $color-rgba;
        }
    }
}

// Forms
// -----------------------------------------------------------------
// == Normalize
label {
    display: inline-block;
    margin-bottom: $spacer/2;
}

button {
    background: none;
    &:focus {
        outline: 1px dotted;
        outline: 5px auto -webkit-focus-ring-color;
    }
}

input,
button,
select,
textarea {
    vertical-align: middle;
    border-radius: 0;
    margin: 0;
}

textarea {
    resize: vertical;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

legend {
    display: block;
    width: 100%;
    margin-bottom: $spacer;
    font-size: em($font-size-base * 1.5);
    line-height: inherit;
}
body:not(:-moz-handler-blocked) fieldset {
    display: table-cell;
}

#{text-inputs(search)} {
    box-sizing: inherit;
    // 隱藏原始外觀(ex箭頭)
    -webkit-appearance: none;
    -moz-appearance: none;
}

output {
    display: inline-block;
}

[hidden] {
    display: none !important;
}


// == Styles
//
// input 預設
input, select, textarea, .input {
    background: $input-bg;

    @if $input-color      { color: $input-color; }
    @if $input-border     { border: $input-border; }
    @if $form-element-pd  { padding: $form-element-pd; }
    @if $input-height {
        min-height: $input-height;
        line-height: $input-height;
    }
    @if $input-font-size != $font-size-base {
        font-size: $input-font-size;
    }

    // Unstyle the caret on `<select>`s in IE10+.
    &::-ms-expand {
        background-color: transparent;
        border: 0;
    }
    &::placeholder {
        color: $input-placeholder;
        opacity: 1;
    }
    &:disabled,
    &[readonly] {
        background-color: $input-disabled;
        opacity: 1;
    }
    &:disabled {
        cursor: $cursor-disabled;
    }
    &:focus {
        border-color: $input-border-focus;
        outline: 0;
    }
}

#{text-inputs(number)} {
    @extend .m-x-a, .p-r-0;
    width: 80px;
}

.form-element {
    display: block;
    width: 100%;

    @if $form-element-transition  { transition: $form-element-transition; }
    @if $form-element-bg          { background: $form-element-bg; }
    @if $form-element-radius      { border-radius: $form-element-radius; } // Note: This has no effect on <select>s in some browsers, due to the limited stylability of <select>s in CSS.
    @if $form-element-shadow      { box-shadow: $form-element-shadow; }

    // @if $form-element-height {
    //     min-height: $form-element-height;
    //     line-height: $form-element-height;
    // } @else {
    //     line-height: $input-line-height;
    //     // padding: $form-element-pd;
    // }

    @include form-element-focus;
}

// iOS 的時間欄位垂直對齊 - safari
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    #{text-inputs(date time datetime-local month)} {
        &.form-element { line-height: $input-height; }
    }
}

// label
.form-element-label {
    margin-bottom: 0;

    @if $input-height {
        min-height: $input-height;
        line-height: $input-height;
    }
}

// 單行
%input-inline {
    display: inline;
    width: auto;

    &:not(:last-child) {
        margin-right: $gutter*0.3;
    }
}
.form-inline {
    .form-element-label {
        &:first-child { @extend .p-l-0; }
    }
}
.form-inline .form-element, .form-element.inline {
    @extend %input-inline;
}

// 必填樣式
[required] {
    @each $attribute, $value in $input-required-styles {
        #{$attribute}: #{$value};
    }
}

// 底線
@if $enable-input-underline {
    .input-underline {
        border: none;
        border-bottom: 1px solid darken($input-border-color,20);

        @if $input-bg { background: none; }

        &:focus {
            box-shadow: none;
            border-color: $input-border-focus;
        }
    }
}