@charset "UTF-8";

@mixin mobile-nav($select,$Break) {
    #{$select} {
        @include mq-max($Break) {
            z-index: z(overlay);
            @include fixed(bottom 0);
            @if $mobile-menu-bg    { background: $mobile-menu-bg; }
            @if $mobile-transition { @include transition($mobile-transition); }

            // 推拉樣式
            @if $mobile-menu-style == 'push' {
                top: 0;
                overflow-y: auto;
                width: $mobile-menu-width;
                left: -$mobile-menu-width;
                text-align: left;

                .mobile-menu & {
                    left: 0;
                }
            }

            // 全版樣式
            @else if $mobile-menu-style == 'overlay' {
                width: $mobile-menu-width;
                left: 0;
                visibility: hidden;
                opacity: 0;

                @include diy-animate(swing, 0.5s) {
                    0% { @include transform(rotateY(90deg)); opacity: 0; }
                    100% { @include transform(rotateY(0)); opacity: 1; }
                }

                .mobile-menu & {
                    visibility: visible;
                    opacity: 1;
                }
            }
            @content;
        }
    }
    @if $mobile-menu-style == 'push' {
        body {
            @include transition(left .35s);
            overflow-x: hidden;
            position: relative;
            left: 0;
        }
        .mobile-menu {
            left: $mobile-menu-width;
            overflow-y: hidden;
        }
    }
    @else if $mobile-menu-style == 'overlay' {
        .mobile-menu {
            overflow: hidden;
        }
    }
}