@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

article, aside, footer, header, nav, section, figcaption, figure, main {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b, strong {
  font-weight: inherit;
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

audio, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button, input, optgroup, select, textarea {
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details, menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template, [hidden] {
  display: none; }

@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
/*      basic elements - reboot
-----------------------------------------------------------------------*/
html, body {
  text-align: center;
  height: 100%; }

html {
  box-sizing: border-box;
  font-size: 16px;
  -webkit-tap-highlight-color: transparent; }

*,
*::before,
*::after {
  box-sizing: inherit; }

@-moz-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
@-webkit-viewport {
  width: device-width; }
@viewport {
  width: device-width; }
body {
  font-family: Arial, \5FAE\8EDF\6B63\9ED1\9AD4, "微軟正黑體", "Microsoft JhengHei", sans-serif;
  line-height: 1.5;
  color: #333;
  background: #fff;
  margin: 0;
  -webkit-font-smoothing: antialiased; }

[tabindex="-1"]:focus {
  outline: none !important; }

a {
  color: #005aa0;
  text-decoration: none;
  -webkit-transition: color 0.35s, background 0.3s;
  transition: color 0.35s, background 0.3s;
  hlbr: expression(this.onFocus=this.blur()); }
  a:hover, a:active {
    color: #cb9272; }

img {
  vertical-align: middle; }

h1 {
  margin-top: 0; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  font-weight: 500;
  line-height: 1.1; }

h1 {
  font-size: 2.5em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.875em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.3125em; }

h6 {
  font-size: 1.125em; }

small {
  font-size: 80%;
  font-weight: normal; }

mark {
  background-color: #ffe8dd;
  padding: .2em; }

hr {
  margin: 2rem 0;
  border: 0;
  border-top: 1px solid #626262; }

p {
  margin: 0; }
  p + p {
    margin-top: 1rem; }

abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #626262; }

ol, ul, dl {
  margin-top: 0;
  margin-bottom: 1rem; }

ol ol, ol ul, ul ol, ul ul {
  margin-bottom: 0; }

dt {
  font-weight: bold; }

dd {
  margin-bottom: 0.5rem;
  margin-left: 0; }

blockquote {
  margin: 0 0 1rem; }

pre {
  margin-top: 0;
  margin-bottom: 1rem; }

button,
[role="button"] {
  cursor: pointer; }

a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation; }

.float-l, .logo, .cart-img {
  float: left; }

.mobile-toggle, .float-r, .intro figure img {
  float: right; }

.clearfix::after, .wrap::after, #footer::after, #header::after, .cart-list li::after, section::after {
  content: "";
  display: table;
  clear: both; }

.full {
  width: 100%;
  max-width: 100%; }

.text-hide, .logo, .download nav a, .workflow strong {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.list-inline, .list-unstyled, .cart-list {
  list-style: none;
  padding-left: 0; }

.list-inline > li {
  display: inline-block; }
  .list-inline > li:not(:last-child) {
    margin-right: 5px; }

#menu {
  z-index: 20; }
  @media (min-width: 48.0625em) {
    #menu {
      float: right;
      margin-top: 11px; } }
  #menu a {
    color: #7d7d7d;
    font-size: 1.0625em;
    display: inline-block;
    background: url(../images/menu-icon.gif) 18px 0 no-repeat;
    -webkit-transition: color 0.35s;
    transition: color 0.35s; }
    @media (min-width: 48.0625em) {
      #menu a {
        font-weight: bolder;
        line-height: 1;
        padding-top: 45px;
        margin-right: 35px; }
        #menu a:nth-child(2) {
          background-position: -109px 0; }
        #menu a:nth-child(3) {
          background-position: -236px 0; }
        #menu a:nth-child(4) {
          background-position: -364px 0; }
        #menu a:hover, #menu a:active, #menu a.current {
          color: #000; } }
    @media (min-width: 64em) {
      #menu a {
        margin-right: 48px; } }

@media (max-width: 48em) {
  .navbar {
    z-index: 999;
    position: fixed;
    bottom: 0;
    -webkit-transition: transform .3s, opacity 1s;
    transition: transform .3s, opacity 1s;
    width: 100%;
    left: 0;
    visibility: hidden;
    opacity: 0;
    -webkit-animation: swing 0.5s;
    animation: swing 0.5s;
    top: 95px;
    overflow-y: auto; }
  @-webkit-keyframes swing {
    0% {
      -ms-transform: rotateY(90deg);
      -webkit-transform: rotateY(90deg);
      transform: rotateY(90deg);
      opacity: 0; }
    100% {
      -ms-transform: rotateY(0);
      -webkit-transform: rotateY(0);
      transform: rotateY(0);
      opacity: 1; } }
  @keyframes swing {
    0% {
      -ms-transform: rotateY(90deg);
      -webkit-transform: rotateY(90deg);
      transform: rotateY(90deg);
      opacity: 0; }
    100% {
      -ms-transform: rotateY(0);
      -webkit-transform: rotateY(0);
      transform: rotateY(0);
      opacity: 1; } }
    .mobile-menu .navbar {
      visibility: visible;
      opacity: 1; }
    .stick .navbar {
      top: 70px; }
    .navbar nav, .navbar .btn-buy, .navbar .shopping-cart {
      width: 100%; }
    .navbar #menu a, .navbar .mobile-nav, .navbar .cart-toggle {
      display: block;
      padding: 15px 0 15px 47%;
      text-align: left;
      font-size: 1.25em;
      font-weight: 550;
      color: #7d7d7d;
      background: url(../images/mobile-nav-icon.png) 30% 10px no-repeat, #fff url(../images/mobile-nav-bg.gif) 0 bottom repeat-x; }
      .navbar #menu a:hover, .navbar #menu a:active, .navbar .mobile-nav:hover, .navbar .mobile-nav:active, .navbar .cart-toggle:hover, .navbar .cart-toggle:active {
        background-color: #626262 !important;
        background-image: url(../images/mobile-nav-icon.png);
        background-repeat: no-repeat;
        background-position: 30% 10px;
        color: #fff; }
      .navbar #menu a.current, .navbar .mobile-nav.current, .navbar .cart-toggle.current {
        color: #000; }
    .navbar .cart-toggle {
      width: 100%;
      background: url(../images/mobile-nav-icon.png) 30% -50px no-repeat, #fff url(../images/mobile-nav-bg.gif) 0 bottom repeat-x; }
      .navbar .cart-toggle:hover, .navbar .cart-toggle:active {
        background-position: 30% -50px; }
    .navbar #menu a:nth-child(1) {
      background: url(../images/mobile-nav-icon.png) 30% -115px no-repeat, #fff url(../images/mobile-nav-bg.gif) 0 bottom repeat-x; }
      .navbar #menu a:nth-child(1):hover, .navbar #menu a:nth-child(1):active {
        background-position: 30% -115px; }
    .navbar #menu a:nth-child(2) {
      background: url(../images/mobile-nav-icon.png) 30% -175px no-repeat, #fff url(../images/mobile-nav-bg.gif) 0 bottom repeat-x; }
      .navbar #menu a:nth-child(2):hover, .navbar #menu a:nth-child(2):active {
        background-position: 30% -175px; }
    .navbar #menu a:nth-child(3) {
      background: url(../images/mobile-nav-icon.png) 30% -235px no-repeat, #fff url(../images/mobile-nav-bg.gif) 0 bottom repeat-x; }
      .navbar #menu a:nth-child(3):hover, .navbar #menu a:nth-child(3):active {
        background-position: 30% -235px; }
    .navbar #menu a:nth-child(4) {
      background: url(../images/mobile-nav-icon.png) 30% -295px no-repeat, #fff url(../images/mobile-nav-bg.gif) 0 bottom repeat-x; }
      .navbar #menu a:nth-child(4):hover, .navbar #menu a:nth-child(4):active {
        background-position: 30% -295px; }
    .navbar .btn-buy {
      padding-top: 18px;
      padding-bottom: 18px;
      letter-spacing: 5px;
      font-size: 1.4375em;
      border-radius: 0;
      border-top: 1px solid #fff;
      background: #ffa956 url(../images/mobile-btn-buy.gif) 0 bottom repeat-x; }
    .navbar .mobile-nav-hide {
      display: none !important; } }

.mobile-menu {
  overflow: hidden; }

@media (max-width: 23.4375em) {
  .navbar #menu a, .navbar .mobile-nav, .navbar .cart-toggle {
    font-size: 0.9375em; } }
.mobile-toggle {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

.mobile-toggle {
  display: none;
  color: #dcdcdc;
  font-size: 3.325em;
  line-height: 1;
  margin-right: 18px;
  margin-top: 6px; }
  @media (max-width: 48em) {
    .mobile-toggle {
      display: block; }
      .stick .mobile-toggle {
        font-size: 2.49375em; } }
  .mobile-toggle:hover, .mobile-toggle:active {
    color: #0077d3; }
  .mobile-toggle::before {
    content: '\e09b'; }
  .mobile-toggle.active {
    font-size: 2.67188em;
    color: #B64371; }
    .mobile-toggle.active::before {
      content: '\e0db'; }

.goTop {
  z-index: 99;
  position: fixed;
  right: 1%;
  bottom: 0;
  -webkit-transition: color 1s, padding .5s;
  transition: color 1s, padding .5s;
  background: rgba(34, 34, 34, 0.9);
  border-radius: 3px 3px 0 0;
  display: none; }
  .goTop:hover, .goTop:active {
    padding-bottom: 10px;
    box-shadow: 3px -5px 8px rgba(0, 0, 0, 0.2); }

button {
  border: none; }
  button:active, button:focus {
    outline: 0; }

.btn {
  display: inline-block;
  padding: 10.8px 43.2px;
  border-radius: 4.5px;
  font-size: 18px;
  line-height: 1.2;
  background: #005aa0;
  color: #fff;
  -webkit-transition: background .35s, color .5s;
  transition: background .35s, color .5s; }
  .btn:hover, .btn:active, .btn:focus {
    background: #006bbf;
    color: #fff; }
  .btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    opacity: .65;
    background-color: #626262; }
  .btn.sm {
    padding: 6.72px 11.2px; }
  .btn.lg {
    padding: 9.6px 16px; }

.btn-link {
  display: inline;
  line-height: 1.5;
  background: none;
  color: #005aa0;
  -webkit-transition: color 0.35s, background 0.3s;
  transition: color 0.35s, background 0.3s; }
  .btn-link:hover, .btn-link:active, .btn-link:focus {
    background: none;
    color: #cb9272; }
  .btn-link.disabled, .btn-link[disabled], fieldset[disabled] .btn-link {
    opacity: 1;
    color: #626262;
    background: none; }

figcaption, figure > a {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

figcaption {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }
  figcaption::before, figcaption::after {
    pointer-events: none; }

figure {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: box-shadow .5s;
  transition: box-shadow .5s; }
  figure > a {
    z-index: 1;
    opacity: 0; }
  figure img {
    position: relative;
    min-height: 100%;
    max-width: 100%; }

.modal {
  z-index: 999;
  display: none;
  overflow: auto;
  padding-top: 100px;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.85);
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-animation: fadeIn 0.4s;
  animation: fadeIn 0.4s; }
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }
  @media (max-width: 35.4375em) {
    .modal {
      padding-top: 5%; } }

.modal-close {
  position: fixed;
  top: 1%;
  right: 1%;
  font-size: 3.125em;
  color: #fff;
  background: none; }
  .modal-close:hover, .modal-close:focus {
    color: #EDE363;
    cursor: pointer; }

.modal-content {
  margin: auto;
  background-color: #fff;
  width: 80%; }
  @media (max-width: 63.9375em) {
    .modal-content {
      width: 96%; } }
  #youtube .modal-content {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    background-color: #000;
    border: 3px solid #000; }
    #youtube .modal-content iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }

.animate-top {
  position: relative;
  -webkit-animation: slide-down 0.4s;
  animation: slide-down 0.4s; }
@-webkit-keyframes slide-down {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }
@keyframes slide-down {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }
.animate-zoom {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s; }
@-webkit-keyframes animatezoom {
  from {
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0); }
  to {
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); } }
@keyframes animatezoom {
  from {
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0); }
  to {
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); } }
.block {
  display: block; }

.inline-block {
  display: inline-block; }

.inline {
  display: inline; }

.clear {
  clear: both; }

.hidden {
  display: none; }

.circle, .youtube-open::after {
  border-radius: 50%; }

.img-center {
  display: block;
  margin: auto; }

.m-x-a, .youtube-open {
  margin-right: auto;
  margin-left: auto; }

.m-a-0 {
  margin: 0; }

.m-t-0, .download h2 {
  margin-top: 0; }

.m-r-0 {
  margin-right: 0; }

.m-b-0 {
  margin-bottom: 0; }

.m-l-0 {
  margin-left: 0; }

.m-x-0 {
  margin-right: 0;
  margin-left: 0; }

.m-y-0 {
  margin-top: 0;
  margin-bottom: 0; }

.m-a-2 {
  margin: 0.125rem; }

.m-t-2 {
  margin-top: 0.125rem; }

.m-r-2 {
  margin-right: 0.125rem; }

.m-b-2 {
  margin-bottom: 0.125rem; }

.m-l-2 {
  margin-left: 0.125rem; }

.m-x-2 {
  margin-right: 0.125rem;
  margin-left: 0.125rem; }

.m-y-2 {
  margin-top: 0.125rem;
  margin-bottom: 0.125rem; }

.m-a-4 {
  margin: 0.25rem; }

.m-t-4, .cart-list li {
  margin-top: 0.25rem; }

.m-r-4 {
  margin-right: 0.25rem; }

.m-b-4 {
  margin-bottom: 0.25rem; }

.m-l-4 {
  margin-left: 0.25rem; }

.m-x-4 {
  margin-right: 0.25rem;
  margin-left: 0.25rem; }

.m-y-4 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem; }

.m-a-8 {
  margin: 0.5rem; }

.m-t-8 {
  margin-top: 0.5rem; }

.m-r-8 {
  margin-right: 0.5rem; }

.m-b-8 {
  margin-bottom: 0.5rem; }

.m-l-8 {
  margin-left: 0.5rem; }

.m-x-8 {
  margin-right: 0.5rem;
  margin-left: 0.5rem; }

.m-y-8 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.m-a-12 {
  margin: 0.75rem; }

.m-t-12, .cart-bar {
  margin-top: 0.75rem; }

.m-r-12 {
  margin-right: 0.75rem; }

.m-b-12 {
  margin-bottom: 0.75rem; }

.m-l-12 {
  margin-left: 0.75rem; }

.m-x-12 {
  margin-right: 0.75rem;
  margin-left: 0.75rem; }

.m-y-12 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem; }

.m-a-16 {
  margin: 1rem; }

.m-t-16, .btn-cart {
  margin-top: 1rem; }

.m-r-16, .cart-img {
  margin-right: 1rem; }

.m-b-16 {
  margin-bottom: 1rem; }

.m-l-16 {
  margin-left: 1rem; }

.m-x-16 {
  margin-right: 1rem;
  margin-left: 1rem; }

.m-y-16 {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.m-a-24 {
  margin: 1.5rem; }

.m-t-24 {
  margin-top: 1.5rem; }

.m-r-24 {
  margin-right: 1.5rem; }

.m-b-24 {
  margin-bottom: 1.5rem; }

.m-l-24 {
  margin-left: 1.5rem; }

.m-x-24 {
  margin-right: 1.5rem;
  margin-left: 1.5rem; }

.m-y-24 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

.m-a-32 {
  margin: 2rem; }

.m-t-32 {
  margin-top: 2rem; }

.m-r-32 {
  margin-right: 2rem; }

.m-b-32 {
  margin-bottom: 2rem; }

.m-l-32 {
  margin-left: 2rem; }

.m-x-32 {
  margin-right: 2rem;
  margin-left: 2rem; }

.m-y-32 {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.m-a-48 {
  margin: 3rem; }

.m-t-48 {
  margin-top: 3rem; }

.m-r-48 {
  margin-right: 3rem; }

.m-b-48 {
  margin-bottom: 3rem; }

.m-l-48 {
  margin-left: 3rem; }

.m-x-48 {
  margin-right: 3rem;
  margin-left: 3rem; }

.m-y-48 {
  margin-top: 3rem;
  margin-bottom: 3rem; }

.m-a-64 {
  margin: 4rem; }

.m-t-64 {
  margin-top: 4rem; }

.m-r-64 {
  margin-right: 4rem; }

.m-b-64 {
  margin-bottom: 4rem; }

.m-l-64 {
  margin-left: 4rem; }

.m-x-64 {
  margin-right: 4rem;
  margin-left: 4rem; }

.m-y-64 {
  margin-top: 4rem;
  margin-bottom: 4rem; }

.p-a-0 {
  padding: 0; }

.p-t-0 {
  padding-top: 0; }

.p-r-0 {
  padding-right: 0; }

.p-b-0 {
  padding-bottom: 0; }

.p-l-0 {
  padding-left: 0; }

.p-x-0 {
  padding-right: 0;
  padding-left: 0; }

.p-y-0 {
  padding-top: 0;
  padding-bottom: 0; }

.p-a-2 {
  padding: 0.125rem; }

.p-t-2 {
  padding-top: 0.125rem; }

.p-r-2 {
  padding-right: 0.125rem; }

.p-b-2 {
  padding-bottom: 0.125rem; }

.p-l-2 {
  padding-left: 0.125rem; }

.p-x-2 {
  padding-right: 0.125rem;
  padding-left: 0.125rem; }

.p-y-2 {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem; }

.p-a-4 {
  padding: 0.25rem; }

.p-t-4 {
  padding-top: 0.25rem; }

.p-r-4 {
  padding-right: 0.25rem; }

.p-b-4, .cart-list li:not(:last-child) {
  padding-bottom: 0.25rem; }

.p-l-4 {
  padding-left: 0.25rem; }

.p-x-4 {
  padding-right: 0.25rem;
  padding-left: 0.25rem; }

.p-y-4, .goTop {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem; }

.p-a-8 {
  padding: 0.5rem; }

.p-t-8 {
  padding-top: 0.5rem; }

.p-r-8 {
  padding-right: 0.5rem; }

.p-b-8 {
  padding-bottom: 0.5rem; }

.p-l-8 {
  padding-left: 0.5rem; }

.p-x-8 {
  padding-right: 0.5rem;
  padding-left: 0.5rem; }

.p-y-8 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.p-a-12 {
  padding: 0.75rem; }

.p-t-12, .cart-content {
  padding-top: 0.75rem; }

.p-r-12 {
  padding-right: 0.75rem; }

.p-b-12 {
  padding-bottom: 0.75rem; }

.p-l-12 {
  padding-left: 0.75rem; }

.p-x-12, .goTop {
  padding-right: 0.75rem;
  padding-left: 0.75rem; }

.p-y-12, .btn-cart {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem; }

.p-a-16 {
  padding: 1rem; }

.p-t-16 {
  padding-top: 1rem; }

.p-r-16 {
  padding-right: 1rem; }

.p-b-16 {
  padding-bottom: 1rem; }

.p-l-16 {
  padding-left: 1rem; }

.p-x-16 {
  padding-right: 1rem;
  padding-left: 1rem; }

.p-y-16 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.p-a-24 {
  padding: 1.5rem; }

.p-t-24 {
  padding-top: 1.5rem; }

.p-r-24 {
  padding-right: 1.5rem; }

.p-b-24, #footer {
  padding-bottom: 1.5rem; }

.p-l-24 {
  padding-left: 1.5rem; }

.p-x-24 {
  padding-right: 1.5rem;
  padding-left: 1.5rem; }

.p-y-24 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

.p-a-32 {
  padding: 2rem; }

.p-t-32 {
  padding-top: 2rem; }

.p-r-32 {
  padding-right: 2rem; }

.p-b-32 {
  padding-bottom: 2rem; }

.p-l-32 {
  padding-left: 2rem; }

.p-x-32 {
  padding-right: 2rem;
  padding-left: 2rem; }

.p-y-32 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.p-a-48 {
  padding: 3rem; }

.p-t-48 {
  padding-top: 3rem; }

.p-r-48 {
  padding-right: 3rem; }

.p-b-48 {
  padding-bottom: 3rem; }

.p-l-48 {
  padding-left: 3rem; }

.p-x-48 {
  padding-right: 3rem;
  padding-left: 3rem; }

.p-y-48 {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.p-a-64 {
  padding: 4rem; }

.p-t-64 {
  padding-top: 4rem; }

.p-r-64 {
  padding-right: 4rem; }

.p-b-64 {
  padding-bottom: 4rem; }

.p-l-64 {
  padding-left: 4rem; }

.p-x-64 {
  padding-right: 4rem;
  padding-left: 4rem; }

.p-y-64 {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.text-left, .cart-list, .intro figcaption {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center, .cart-img, .btn-cart {
  text-align: center; }

.font-sp {
  font-family: "Montserrat", sans-serif; }

.font-tiny {
  font-size: 13px;
  font-size: 0.8125rem; }

.font-sm, .btn.sm {
  font-size: 14px;
  font-size: 0.875rem; }

.font-md, .btn-cart, #footer {
  font-size: 15px;
  font-size: 0.9375rem; }

.font-lg, .goTop, .btn.lg {
  font-size: 20px;
  font-size: 1.25rem; }

.font-xl, .cart-list .remove {
  font-size: 24px;
  font-size: 1.5rem; }

.font-xxl {
  font-size: 32px;
  font-size: 2rem; }

.font-xxxl {
  font-size: 48px;
  font-size: 3rem; }

.font-jumbo {
  font-size: 64px;
  font-size: 4rem; }

.lead {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 300; }

.text-white, .goTop, .btn-buy, #footer, .foot-nav a {
  color: #fff; }

.bg-white, figure > a, .cart-content {
  background: #fff; }

.text-primary, .carousel .swiper-slide:hover span, .carousel .swiper-slide:active span {
  color: #005191; }

.bg-primary {
  background: #005aa0; }

.hover-text-primary:hover, .hover-text-primary:active {
  color: #0068ba; }

.hover-primary:hover, .hover-primary:active {
  background: #0071c9; }

.text-secondary {
  color: #c78967; }

.bg-secondary {
  background: #cb9272; }

.hover-text-secondary:hover, .hover-text-secondary:active {
  color: #d2a085; }

.hover-secondary:hover, .hover-secondary:active {
  background: #d6a990; }

.text-muted, .cart-list .remove {
  color: #5a5a5a; }

.bg-muted {
  background: #626262; }

.hover-text-muted:hover, .hover-text-muted:active {
  color: #6f6f6f; }

.hover-muted:hover, .hover-muted:active {
  background: #767676; }

.text-success {
  color: #00a5ae; }

.bg-success {
  background: #00b4bd; }

.hover-text-success:hover, .hover-text-success:active {
  color: #00ccd7; }

.hover-success:hover, .hover-success:active {
  background: #00dbe6; }

.text-info {
  color: #0f82ac; }

.bg-info {
  background: #108DBA; }

.hover-text-info:hover, .icon-prev:hover, .icon-next:hover, .hover-text-info:active, .icon-prev:active, .icon-next:active {
  color: #129fd1; }

.hover-info:hover, .hover-info:active {
  background: #13a9e0; }

.text-warning {
  color: #ff7735; }

.bg-warning {
  background: #ff8144; }

.hover-text-warning:hover, .foot-nav a:hover, .hover-text-warning:active, .foot-nav a:active {
  color: #ff925d; }

.hover-warning:hover, .hover-warning:active {
  background: #ff9c6d; }

.text-danger {
  color: #ab3f6a; }

.bg-danger {
  background: #B64371; }

.hover-text-danger:hover, .cart-list .remove:hover, .hover-text-danger:active, .cart-list .remove:active {
  color: #c0537e; }

.hover-danger:hover, .hover-danger:active {
  background: #c45e87; }

@media (max-width: 63.9375em) {
  .mobile-hide {
    display: none;
    visibility: hidden; } }

.font-en {
  font-family: Arial,sans-serif; }

.w-fourth {
  width: 25% !important; }

.w-third {
  width: 33% !important; }

.w-half {
  width: 50% !important; }

.w-two-third {
  width: 66% !important; }

/*      layout
-----------------------------------------------------------------------*/
.wrap, #wrapper, #footer {
  max-width: 1180px;
  margin: 0 0.875rem; }
  @media (min-width: 73.75em) {
    .wrap, #wrapper, #footer {
      margin: 0 auto; } }
  @media (max-width: 63.9375em) {
    .wrap, #wrapper, #footer {
      margin: 0; } }

@media (max-width: 63.9375em) {
  .wrap, #footer {
    padding-left: 1rem;
    padding-right: 1rem; } }

#wrapper {
  min-height: 100%;
  padding-bottom: 215px;
  position: relative;
  padding-top: 120px; }
  @media (max-width: 48em) {
    #wrapper {
      padding-top: 95px; } }

#header {
  background: #fff;
  height: 120px;
  z-index: 6;
  position: absolute;
  top: 0;
  right: 0;
  left: 0; }
  #header.stick {
    -webkit-transition: height 0.5s;
    transition: height 0.5s; }
    @media (min-width: 48.0625em) {
      #header.stick {
        height: 88px; }
        #header.stick .logo {
          margin-top: 36px;
          margin-left: 20px;
          height: 45px; }
        #header.stick .btn-buy {
          margin-top: 8px; }
        #header.stick #menu {
          margin-top: 16px; }
          #header.stick #menu a {
            background: none;
            padding-top: 0;
            color: #555; }
            #header.stick #menu a:hover, #header.stick #menu a:active, #header.stick #menu a.current {
              color: #000; } }
    @media (max-width: 48em) {
      #header.stick {
        height: 70px; }
        #header.stick .logo {
          height: 50px; } }
  @media (max-width: 63.9375em) {
    #header {
      position: fixed; } }
  @media (max-width: 48em) {
    #header {
      border-top: 10px solid #000;
      height: 95px; } }

.logo {
  cursor: pointer;
  cursor: hand;
  z-index: 10;
  background: url(../images/logo.svg) 0 0 no-repeat;
  width: 111px;
  height: 72px;
  margin-top: 37px;
  margin-left: 50px; }
  @media (max-width: 63.9375em) {
    .logo {
      margin-left: 8px; } }
  @media (max-width: 48em) {
    .logo {
      margin-top: 5px; } }

@media (min-width: 48.0625em) {
  .btn-buy {
    float: right;
    margin-right: 16px;
    background-color: #ff7e00;
    font-size: 1.125em;
    margin-top: 31px;
    border-radius: 8px;
    padding: 0.625rem 1.0625rem; } }
.btn-buy:hover, .btn-buy:active, .btn-buy:focus {
  background-color: #e06f00;
  outline: none; }

@media (min-width: 48.0625em) {
  .top-nav .root, .top-nav .welcome, .cart-toggle {
    color: #fff;
    font-size: 0.875em;
    line-height: 1.01;
    letter-spacing: 1px; } }

@media (min-width: 48.0625em) {
  .top-nav .root:hover, .cart-toggle:hover {
    color: #ffc6aa; } }

.top-nav {
  width: 100%; }
  @media (min-width: 48.0625em) {
    .top-nav {
      background: #000;
      text-align: right;
      padding: 4px 16px; } }
  @media (min-width: 48.0625em) {
    .top-nav .root:not(:last-child) {
      margin-left: 4px;
      padding-right: 8px;
      border-right: 1px solid #fff; } }
  .top-nav .welcome {
    position: absolute;
    top: 8px;
    left: 16px; }
  @media (min-width: 48.0625em) {
    .top-nav .user-nav {
      display: inline; } }
  @media (max-width: 48em) {
    .top-nav .user-nav:hover a, .top-nav .user-nav:active a {
      color: #ccc; }
    .top-nav .user-nav a {
      color: #7d7d7d; }
      .top-nav .user-nav a:hover, .top-nav .user-nav a:active {
        color: #fff; } }

.shopping-cart {
  position: relative; }
  @media (min-width: 48.0625em) {
    .shopping-cart {
      display: inline-block; } }

@media (min-width: 48.0625em) {
  .cart-toggle {
    border-left: 1px solid #fff;
    background: none; } }

.cart-content {
  box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 999;
  position: absolute;
  top: 120%;
  right: 0; }
  @media (min-width: 48.0625em) {
    .cart-content {
      width: 350px; } }
  @media (max-width: 48em) {
    .cart-content {
      left: 0;
      top: 100%; } }

.cart-list {
  margin-left: 20px;
  margin-right: 20px;
  max-height: 500px;
  overflow-y: auto; }
  @media (max-width: 48em) {
    .cart-list {
      max-height: 450px; } }
  .cart-list li {
    position: relative; }
    .cart-list li:not(:last-child) {
      border-bottom: 1px solid #eeeeee; }
  .cart-list .remove {
    position: absolute;
    top: -5px;
    right: 0;
    background: none; }

.cart-img {
  width: 82px;
  background: #eee; }
  .cart-img img {
    max-width: 100%;
    max-height: 60px; }

.cart-info {
  padding-right: 14px;
  overflow: hidden; }

.cart-bar {
  padding: 18px 12px;
  border-top: 1px solid #eeeeee; }

.btn-cart {
  width: 100%;
  letter-spacing: 2px; }

#footer {
  background: #626262;
  min-height: 210px;
  margin-top: -210px;
  z-index: 2;
  padding-top: 32px;
  position: relative; }

.foot-nav {
  margin-bottom: 38px; }
  @media (max-width: 23.4375em) {
    .foot-nav {
      margin-bottom: 0; } }
  .foot-nav a {
    display: inline-block;
    letter-spacing: 1px;
    background: url(../images/foot-nav-icon.gif) 10px 0 no-repeat;
    padding-top: 50px; }
    .foot-nav a:nth-child(2) {
      background-position: -133px 0; }
    .foot-nav a:nth-child(3) {
      background-position: -283px 0; }
    .foot-nav a:nth-child(4) {
      background-position: -427px 0; }
    @media (min-width: 41.6875em) {
      .foot-nav a:not(:last-child) {
        margin-right: 5.3125rem; } }
    @media (min-width: 23.5em) and (max-width: 41.625em) {
      .foot-nav a:not(:last-child) {
        margin-right: 5%; } }
    @media (max-width: 23.4375em) {
      .foot-nav a {
        margin-bottom: 25px;
        padding-top: 42px;
        margin-left: 7%;
        margin-right: 7%; } }

.icon-prev, .icon-next {
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s; }

#banner {
  position: relative;
  color: #fff; }
  @media (max-width: 50em) {
    #banner {
      height: 450px; }
      #banner .swiper-slide {
        overflow: hidden; } }
  @media (max-width: 23.4375em) {
    #banner {
      height: 300px; } }
  #banner img {
    width: 100%; }
    @media (max-width: 50em) {
      #banner img {
        width: auto;
        height: 100%;
        position: relative;
        left: 50%;
        -ms-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%); } }
  #banner h1, #banner h2, #banner p, #banner ul {
    position: absolute;
    text-align: left; }
  #banner .font-xxxl {
    font-size: 60px;
    font-size: 3.75rem;
    font-weight: bold; }
  #banner .font-xxl {
    font-size: 40px;
    font-size: 2.5rem; }
  #banner .font-xl, #banner .cart-list .remove, .cart-list #banner .remove {
    font-size: 24px;
    font-size: 1.5rem; }
  @media (max-width: 23.4375em) {
    #banner .font-xxxl {
      font-size: 2.5rem; }
    #banner .font-xxl {
      font-size: 1.6875rem; }
    #banner .font-xl, #banner .cart-list .remove, .cart-list #banner .remove {
      font-size: 1.0625rem; } }

.b1 h1 {
  letter-spacing: 3px;
  left: 7%;
  top: 32%; }
@media (max-width: 48em) {
  .b1 p {
    line-height: 1.3 !important; } }
.b1 p:nth-of-type(1) {
  line-height: 1.7;
  left: 7%;
  top: 50%; }
.b1 p:nth-of-type(2) {
  line-height: 1.6;
  right: 7%;
  top: 46%; }
  @media (max-width: 48em) {
    .b1 p:nth-of-type(2) {
      left: 7%;
      top: 65%; } }

.b2 h1, .b2 ul {
  margin-bottom: 0; }
.b2 h1 {
  line-height: 1.25;
  letter-spacing: 1px;
  left: 7%;
  bottom: 9%; }
  @media (min-width: 48em) and (max-width: 74.9375em) {
    .b2 h1 {
      width: 60%; } }
  @media (max-width: 47.9375em) {
    .b2 h1 {
      bottom: 35%;
      right: 25%; } }
  @media (max-width: 35.5em) {
    .b2 h1 {
      font-weight: bold;
      right: 9%; } }
.b2 ul {
  right: 7%;
  bottom: 9.5%; }
  @media (max-width: 47.9375em) {
    .b2 ul {
      left: 7%; } }
  @media (max-width: 35.5em) {
    .b2 ul {
      bottom: 10%; } }
.b2 li {
  background: url(../images/icon-check.svg) 0 center no-repeat;
  background-size: 22px 80%;
  padding-left: 30px;
  line-height: 1.35; }

.b3 h1, .b3 h2, .b3 p {
  left: 6%;
  letter-spacing: 1px; }
.b3 h1 {
  font-weight: bold;
  top: 33%; }
.b3 h2 {
  top: 45%; }
.b3 p {
  top: 58%;
  line-height: 1.6; }

.b4 h1, .b4 p {
  left: 65%; }
  @media (max-width: 63.9375em) {
    .b4 h1, .b4 p {
      left: 54%; } }
  @media (max-width: 48em) {
    .b4 h1, .b4 p {
      left: 40%; } }
  @media (max-width: 35.5em) {
    .b4 h1, .b4 p {
      left: 10%; } }
.b4 h1 {
  bottom: 45%; }
.b4 p:nth-of-type(1) {
  line-height: 1.4;
  bottom: 27%; }
.b4 p:nth-of-type(2) {
  line-height: 1.1;
  letter-spacing: 1px;
  bottom: 12%; }

.banner-prev, .banner-next {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 4.6875em;
  color: rgba(255, 255, 255, 0.35);
  z-index: 3; }
  @media (max-width: 48em) {
    .banner-prev, .banner-next {
      font-size: 3.125em; } }
  @media (max-width: 35.5em) {
    .banner-prev, .banner-next {
      font-size: 1.875em; } }

.banner-prev {
  left: 1%; }

.banner-next {
  right: 1%; }

.swiper-button-disabled {
  opacity: .2; }

.swiper-pager {
  position: absolute;
  bottom: 6px !important;
  z-index: 2; }

.swiper-pagination-bullet {
  width: 13px !important;
  height: 13px !important;
  background: rgba(255, 255, 255, 0.4) !important;
  opacity: .8 !important; }
  .swiper-pagination-bullet-active {
    border: 3px solid #005aa0; }

.intro figure, .intro aside {
  height: 340px; }
@media (max-width: 35.5em) {
  .intro aside {
    height: auto; } }
.intro figcaption, .intro h4 {
  font-size: 1.8125em;
  font-weight: 550; }
  @media (max-width: 41.6875em) {
    .intro figcaption, .intro h4 {
      font-size: 1.3125em; } }
.intro figcaption {
  line-height: 1.55;
  padding-top: 6.625rem;
  padding-left: 2.8125rem; }
  @media (max-width: 41.6875em) {
    .intro figcaption {
      padding-top: 12%;
      padding-left: 6%; } }
.intro figure {
  background: #0065a2 url(../images/index/productBg.jpg) 0 0 no-repeat;
  background-size: cover contain;
  margin: 0 8px 0 0; }
  @media (min-width: 50.0625em) {
    .intro figure {
      width: 59.49%; } }
  @media (max-width: 50em) {
    .intro figure {
      float: none;
      margin-right: 0; } }
  @media (max-width: 41.6875em) {
    .intro figure {
      height: 200px; } }
  .intro figure img {
    -webkit-transition: transform 1s;
    transition: transform 1s;
    -ms-transform: translate(60px, 10px) scale(0.9);
    -webkit-transform: translate(60px, 10px) scale(0.9);
    transform: translate(60px, 10px) scale(0.9); }
    @media (min-width: 50.0625em) and (max-width: 75em) {
      .intro figure img {
        -ms-transform: translate(32%, 5%) scale(0.8);
        -webkit-transform: translate(32%, 5%) scale(0.8);
        transform: translate(32%, 5%) scale(0.8); } }
    @media (min-width: 35.5em) and (max-width: 41.6875em) {
      .intro figure img {
        -ms-transform: translate(10%, -15%) scale(0.75);
        -webkit-transform: translate(10%, -15%) scale(0.75);
        transform: translate(10%, -15%) scale(0.75); } }
    @media (max-width: 35.4375em) {
      .intro figure img {
        -ms-transform: translate(21%, -15%) scale(0.65);
        -webkit-transform: translate(21%, -15%) scale(0.65);
        transform: translate(21%, -15%) scale(0.65); } }
    @media (max-width: 23.4375em) {
      .intro figure img {
        -ms-transform: translate(29%, -3%) scale(0.5);
        -webkit-transform: translate(29%, -3%) scale(0.5);
        transform: translate(29%, -3%) scale(0.5); } }
  .intro figure:hover {
    box-shadow: 3px 3px 10px rgba(0, 90, 160, 0.4);
    z-index: 2; }
    .intro figure:hover img {
      -ms-transform: translate(60px, 10px) scale(1);
      -webkit-transform: translate(60px, 10px) scale(1);
      transform: translate(60px, 10px) scale(1); }
      @media (min-width: 50.0625em) and (max-width: 75em) {
        .intro figure:hover img {
          -ms-transform: translate(32%, 5%) scale(0.9);
          -webkit-transform: translate(32%, 5%) scale(0.9);
          transform: translate(32%, 5%) scale(0.9); } }
      @media (min-width: 35.5em) and (max-width: 41.6875em) {
        .intro figure:hover img {
          -ms-transform: translate(10%, -15%) scale(0.75);
          -webkit-transform: translate(10%, -15%) scale(0.75);
          transform: translate(10%, -15%) scale(0.75); } }
      @media (max-width: 35.4375em) {
        .intro figure:hover img {
          -ms-transform: translate(21%, -15%) scale(0.7);
          -webkit-transform: translate(21%, -15%) scale(0.7);
          transform: translate(21%, -15%) scale(0.7); } }
      @media (max-width: 23.4375em) {
        .intro figure:hover img {
          -ms-transform: translate(29%, -3%) scale(0.6);
          -webkit-transform: translate(29%, -3%) scale(0.6);
          transform: translate(29%, -3%) scale(0.6); } }

.youtube-open {
  margin-top: 40px;
  border-radius: 8px;
  background: #dcdcdc url(../images/index/videoBg.gif) center no-repeat;
  position: relative;
  width: 85%;
  max-width: 354px;
  height: 200px; }
  @media (min-width: 35.5625em) and (max-width: 50em) {
    .youtube-open {
      width: 70%;
      height: 60%; } }
  @media (max-width: 35.5em) {
    .youtube-open {
      width: 85%;
      height: 150px; } }
  .youtube-open::after {
    content: "";
    display: block;
    color: rgba(88, 88, 88, 0.65);
    border: 3px solid rgba(88, 88, 88, 0.65);
    font-size: 4em;
    font-family: 'Icons';
    width: 105px;
    height: 105px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: color 0.5s, border 0.3s;
    transition: color 0.5s, border 0.3s; }
  .youtube-open:hover::after, .youtube-open:active::after {
    color: #fff;
    border-color: #fff; }

.carousel {
  background-color: #eee;
  padding: 0 5% 20px 5%;
  position: relative;
  height: 250px; }
  .carousel .swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; }
    .carousel .swiper-slide span {
      color: #707070;
      margin-top: 0;
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0; }

.carousel-prev, .carousel-next {
  color: #DBDCDC;
  font-size: 2em;
  font-weight: bold;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.carousel-prev {
  left: 1.5%; }

.carousel-next {
  right: 1.5%; }

.swiper-button-disabled {
  color: #ddd;
  cursor: default; }
  .swiper-button-disabled:hover, .swiper-button-disabled:active {
    color: #ddd; }

.download main {
  background: #ff8144 url(../images/index/phone.png) 8.5% 20px no-repeat;
  width: 100%; }
  @media (min-width: 75em) {
    .download main {
      padding-top: 100px;
      width: 52.5rem;
      height: 340px;
      float: left; } }
  @media (min-width: 41.6875em) and (max-width: 74.9375em) {
    .download main {
      padding-top: 95px;
      padding-bottom: 75px; } }
  @media (max-width: 41.625em) {
    .download main {
      background-position: 10px 65px;
      background-size: 46% auto;
      padding-top: 20px;
      padding-bottom: 18px; } }
@media (min-width: 75em) {
  .download nav {
    margin-left: 295px; } }
@media (min-width: 41.6875em) and (max-width: 74.9375em) {
  .download nav {
    margin-left: 285px; } }
.download nav a {
  display: inline-block;
  background: url(../images/app-apple.gif) 0 0 no-repeat;
  width: 161px;
  height: 48px; }
  .download nav a:nth-of-type(2) {
    background-image: url(../images/app-google.gif);
    width: 157px;
    height: 46px; }
  .download nav a:nth-of-type(3) {
    background-image: url(../images/app-win.gif);
    width: 184px;
    height: 46px; }
  .download nav a:hover, .download nav a:active {
    opacity: .8; }
  @media (max-width: 41.625em) {
    .download nav a {
      display: block;
      text-align: left;
      margin-left: 48%;
      background-size: contain;
      width: 48%; }
      .download nav a:not(:last-of-type) {
        margin-bottom: 18px; }
      .download nav a:nth-of-type(2), .download nav a:nth-of-type(3) {
        width: 48%; } }
.download h2 {
  font-weight: bold;
  margin-bottom: 30px; }
  @media (max-width: 35.4375em) {
    .download h2 {
      font-size: 2em; } }

.workflow {
  display: block;
  background: #83cbc9 url(../images/index/phone2.png) 91% 26px no-repeat;
  position: relative; }
  .workflow:hover, .workflow:active {
    background-color: #66bfbc; }
  @media (min-width: 75em) {
    .workflow {
      height: 340px; } }
  @media (max-width: 74.9375em) {
    .workflow {
      background-position: 80% 26px;
      height: 220px; } }
  @media (max-width: 41.6875em) {
    .workflow {
      background-position: 85% 26px; } }
  @media (max-width: 35.5em) {
    .workflow {
      background-size: 30% auto;
      height: 150px; } }
  .workflow strong {
    background: url(../images/index/title-workflow.png) 0 0 no-repeat;
    width: 200px;
    height: 100px;
    position: absolute; }
    @media (min-width: 75em) {
      .workflow strong {
        top: 33%;
        left: 17px; } }
    @media (max-width: 74.9375em) {
      .workflow strong {
        background-image: url(../images/index/workflow-title.svg);
        width: 50%;
        height: 120px;
        top: 21%;
        left: 20%; } }
    @media (max-width: 41.6875em) {
      .workflow strong {
        left: 15%; } }
    @media (max-width: 35.5em) {
      .workflow strong {
        top: 10%;
        left: 3%;
        width: 55%; } }
    @media (max-width: 23.4375em) {
      .workflow strong {
        top: 15.5%; } }
