@charset "UTF-8";
@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block; }

progress {
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

a:active, a:hover {
  outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

figure {
  margin: 1em 40px; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

button, input, select, textarea {
  font: inherit;
  margin: 0; }

optgroup {
  font-weight: bold; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

/*      base
-----------------------------------------------------------------------*/
@-moz-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
@-webkit-viewport {
  width: device-width; }
@viewport {
  width: device-width; }
html, body {
  text-align: center;
  height: 100%; }

body {
  background: #fff;
  color: #333;
  font-family: \5FAE\8EDF\6B63\9ED1\9AD4, "微軟正黑體", "Microsoft JhengHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: .01em; }

img {
  vertical-align: middle; }

.image {
  max-width: 100%;
  height: auto; }

[tabindex="-1"]:focus {
  outline: none !important; }

a {
  color: #333;
  text-decoration: none;
  -webkit-transition: color 0.35s, background 0.3s;
  transition: color 0.35s, background 0.3s;
  hlbr: expression(this.onFocus=this.blur()); }
  a:hover, a:active {
    color: #0075a9; }

h1 {
  margin-top: 0; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  font-weight: 500;
  line-height: 1.1;
  color: #000; }

h1 {
  font-size: 2.625em; }

h2 {
  font-size: 1.875em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5625em; }

h5 {
  font-size: 1.3125em; }

h6 {
  font-size: 1.0625em; }

b, strong {
  font-weight: bold; }

small {
  font-size: 80%;
  font-weight: normal; }

mark {
  background-color: #f0e5d5;
  padding: .2em; }

hr {
  margin: 2rem 0;
  border: 0;
  border-top: 1px solid #ececec; }

p {
  margin: 0; }
  p + p {
    margin-top: 1px solid #ececec; }

abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #ececec; }

ol, ul, dl {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 0; }
  ol ol, ol ul, ol dl, ul ol, ul ul, ul dl, dl ol, dl ul, dl dl {
    font-size: 90%;
    margin: 1.5rem 0 1.5rem 3rem; }

dd {
  margin-left: 0; }

.logo, .float-l {
  float: left; }

.mobile-toggle, .float-r {
  float: right; }

.wrap::after, #footer::after, .clearfix::after, section::after {
  content: "";
  display: table;
  clear: both; }

.full {
  width: 100%;
  max-width: 100%; }

.logo, .logo-s, .btn-fb, .text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.list-unstyled, .list-inline {
  list-style: none;
  padding-left: 0; }

.list-inline > li {
  display: inline-block; }
  .list-inline > li:not(:last-child) {
    margin-right: 5px; }

/*      layout
-----------------------------------------------------------------------*/
.wrap {
  max-width: 1200px;
  margin: 0 auto; }
  @media (max-width: 63.9375em) {
    .wrap {
      padding: 0 1.5rem; } }

#wrapper {
  min-height: 100%;
  padding-bottom: 238px;
  padding-top: 90px; }
  @media (max-width: 48em) {
    #wrapper {
      padding-top: 70px; } }

#header {
  background: #fff;
  height: 90px;
  z-index: 6;
  position: fixed;
  top: 0;
  right: 0;
  left: 0; }

.logo {
  cursor: pointer;
  cursor: hand;
  z-index: 10;
  background: url(../images/logo.gif) 0 0 no-repeat;
  width: 181px;
  height: 65px;
  margin-top: 14px;
  margin-left: 88px; }

#footer {
  background: #313131;
  min-height: 238px;
  margin-top: -238px;
  z-index: 2;
  text-align: left;
  position: relative; }
  #footer a:hover, #footer a:active {
    color: #10b5ff; }

@media (min-width: 64em) {
  .foot-nav, .foot-contact {
    float: left;
    width: 37.5%; } }

.foot-nav {
  margin-bottom: 38px; }
  @media (max-width: 23.4375em) {
    .foot-nav {
      margin-bottom: 0; } }
  .foot-nav a {
    display: block;
    letter-spacing: 1px;
    line-height: 1.2;
    margin-bottom: 10px; }

.foot-contact {
  line-height: 1.8; }
  .foot-contact .underline {
    border-color: #fff;
    margin-bottom: 8px; }

@media (min-width: 64em) {
  .copyright {
    float: right;
    vertical-align: top; } }
.copyright p {
  margin-top: 30px; }

.logo-s, .btn-fb {
  margin-left: 45px; }

.logo-s {
  margin-top: 20px;
  margin-bottom: 30px;
  background: url(../images/logo-s.gif) 0 0 no-repeat;
  width: 181px;
  height: 65px; }

.btn-fb {
  display: block;
  background: url(../images/btn-fb.gif) 0 0 no-repeat;
  width: 58px;
  height: 27px;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .btn-fb:hover, .btn-fb:active {
    background-image: url("../images/btn-fb2.gif"); }

#menu {
  z-index: 20;
  margin-bottom: 0; }
  @media (min-width: 48.0625em) {
    #menu {
      float: right;
      margin-top: 48px; } }
  #menu li > a {
    color: #626262;
    font-size: 1.0625em; }
  #menu a {
    display: block; }

#menu li {
  position: relative;
  vertical-align: top; }
  #menu li:hover .sub-nav, #menu li:active .sub-nav {
    opacity: 1;
    visibility: visible;
    height: auto;
    top: 100%; }

.sub-nav {
  display: block;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s, top 0.35s;
  transition: opacity 0.5s, top 0.35s;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.7);
  padding: 15px 20px 15px 12px;
  word-break: keep-all; }
  .sub-nav a {
    color: #434343;
    line-height: 1.25;
    margin-bottom: 10px; }
  @media (max-width: 47.9375em) {
    .sub-nav {
      display: none;
      opacity: 1;
      visibility: visible;
      transform: none;
      position: static;
      top: 100%;
      max-width: 100%;
      box-shadow: inset 3px 6px 15px rgba(0, 0, 0, 0.5); } }

@media (max-width: 48em) {
  .navbar {
    z-index: 999;
    position: fixed;
    bottom: 0;
    -webkit-transition: transform .3s, opacity 1s;
    transition: transform .3s, opacity 1s;
    width: 100%;
    left: 0;
    visibility: hidden;
    opacity: 0;
    -webkit-animation: swing 0.5s;
    animation: swing 0.5s;
    top: 70px;
    overflow-y: auto; }
  @-webkit-keyframes swing {
    0% {
      -ms-transform: rotateY(90deg);
      -webkit-transform: rotateY(90deg);
      transform: rotateY(90deg);
      opacity: 0; }
    100% {
      -ms-transform: rotateY(0);
      -webkit-transform: rotateY(0);
      transform: rotateY(0);
      opacity: 1; } }
  @keyframes swing {
    0% {
      -ms-transform: rotateY(90deg);
      -webkit-transform: rotateY(90deg);
      transform: rotateY(90deg);
      opacity: 0; }
    100% {
      -ms-transform: rotateY(0);
      -webkit-transform: rotateY(0);
      transform: rotateY(0);
      opacity: 1; } }
    .mobile-menu .navbar {
      visibility: visible;
      opacity: 1; }
    .stick .navbar {
      top: 45px; }
    .navbar nav, .navbar .btn-buy, .navbar .shopping-cart {
      width: 100%; }
    .navbar #menu a, .navbar .mobile-nav, .navbar .cart-toggle {
      display: block;
      padding: 15px 0 15px 47%;
      text-align: left;
      font-size: 1.25em;
      font-weight: 550;
      color: #7d7d7d;
      background: url(../images/mobile-nav-icon.png) 30% 10px no-repeat, #fff url(../images/mobile-nav-bg.gif) 0 bottom repeat-x; }
      .navbar #menu a:hover, .navbar #menu a:active, .navbar .mobile-nav:hover, .navbar .mobile-nav:active, .navbar .cart-toggle:hover, .navbar .cart-toggle:active {
        background-color: #ececec !important;
        background-image: url(../images/mobile-nav-icon.png);
        background-repeat: no-repeat;
        background-position: 30% 10px;
        color: #fff; }
      .navbar #menu a.current, .navbar .mobile-nav.current, .navbar .cart-toggle.current {
        color: #000; }
    .navbar .cart-toggle {
      width: 100%;
      background: url(../images/mobile-nav-icon.png) 30% -50px no-repeat, #fff url(../images/mobile-nav-bg.gif) 0 bottom repeat-x; }
      .navbar .cart-toggle:hover, .navbar .cart-toggle:active {
        background-position: 30% -50px; }
    .navbar #menu a:nth-child(1) {
      background: url(../images/mobile-nav-icon.png) 30% -115px no-repeat, #fff url(../images/mobile-nav-bg.gif) 0 bottom repeat-x; }
      .navbar #menu a:nth-child(1):hover, .navbar #menu a:nth-child(1):active {
        background-position: 30% -115px; }
    .navbar #menu a:nth-child(2) {
      background: url(../images/mobile-nav-icon.png) 30% -175px no-repeat, #fff url(../images/mobile-nav-bg.gif) 0 bottom repeat-x; }
      .navbar #menu a:nth-child(2):hover, .navbar #menu a:nth-child(2):active {
        background-position: 30% -175px; }
    .navbar #menu a:nth-child(3) {
      background: url(../images/mobile-nav-icon.png) 30% -235px no-repeat, #fff url(../images/mobile-nav-bg.gif) 0 bottom repeat-x; }
      .navbar #menu a:nth-child(3):hover, .navbar #menu a:nth-child(3):active {
        background-position: 30% -235px; }
    .navbar #menu a:nth-child(4) {
      background: url(../images/mobile-nav-icon.png) 30% -295px no-repeat, #fff url(../images/mobile-nav-bg.gif) 0 bottom repeat-x; }
      .navbar #menu a:nth-child(4):hover, .navbar #menu a:nth-child(4):active {
        background-position: 30% -295px; }
    .navbar .btn-buy {
      padding-top: 18px;
      padding-bottom: 18px;
      letter-spacing: 5px;
      font-size: 1.4375em;
      border-radius: 0;
      border-top: 1px solid #fff;
      background: #ffa956 url(../images/mobile-btn-buy.gif) 0 bottom repeat-x; }
    .navbar .mobile-nav-hide {
      display: none !important; } }

.mobile-menu {
  overflow: hidden; }

@media (max-width: 23.4375em) {
  .navbar #menu a, .navbar .mobile-nav, .navbar .cart-toggle {
    font-size: 0.9375em; } }
.mobile-toggle {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

.mobile-toggle {
  display: none;
  color: #dcdcdc;
  font-size: 2.45em;
  line-height: 1;
  margin-right: 18px;
  margin-top: 6px; }
  @media (max-width: 48em) {
    .mobile-toggle {
      display: block; }
      .stick .mobile-toggle {
        font-size: 1.8375em; } }
  .mobile-toggle:hover, .mobile-toggle:active {
    color: #0098dc; }
  .mobile-toggle::before {
    content: '\e09b'; }
  .mobile-toggle.active {
    font-size: 1.96875em;
    color: #684749; }
    .mobile-toggle.active::before {
      content: '\e0db'; }

button, [role="button"] {
  cursor: pointer;
  border: none; }
  button:active, button:focus, [role="button"]:active, [role="button"]:focus {
    outline: 0; }

a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation; }

.btn,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.01;
  background: #000;
  color: #fff;
  -webkit-transition: background .35s, color .5s;
  transition: background .35s, color .5s;
  letter-spacing: 1px;
  min-width: 175px;
  text-align: center; }
  .btn:hover, .btn:active, .btn:focus,
  button:hover,
  button:active,
  button:focus,
  input[type='button']:hover,
  input[type='button']:active,
  input[type='button']:focus,
  input[type='reset']:hover,
  input[type='reset']:active,
  input[type='reset']:focus,
  input[type='submit']:hover,
  input[type='submit']:active,
  input[type='submit']:focus {
    background: #b28247;
    color: #fff; }
  .btn.disabled, .btn[disabled], fieldset[disabled] .btn,
  button.disabled,
  button[disabled], fieldset[disabled]
  button,
  input[type='button'].disabled,
  input[type='button'][disabled], fieldset[disabled]
  input[type='button'],
  input[type='reset'].disabled,
  input[type='reset'][disabled], fieldset[disabled]
  input[type='reset'],
  input[type='submit'].disabled,
  input[type='submit'][disabled], fieldset[disabled]
  input[type='submit'] {
    cursor: not-allowed;
    opacity: .65;
    background-color: #ececec; }
  .btn.sm,
  button.sm,
  input[type='button'].sm,
  input[type='reset'].sm,
  input[type='submit'].sm {
    padding: 5.656px 11.2px; }
  .btn.lg,
  button.lg,
  input[type='button'].lg,
  input[type='reset'].lg,
  input[type='submit'].lg {
    padding: 8.08px 16px; }
  .btn.outline,
  button.outline,
  input[type='button'].outline,
  input[type='reset'].outline,
  input[type='submit'].outline {
    background: transparent;
    border: 1px solid #262626;
    color: #000;
    letter-spacing: 1px;
    text-align: center; }
    .btn.outline:hover, .btn.outline:active, .btn.outline:focus,
    button.outline:hover,
    button.outline:active,
    button.outline:focus,
    input[type='button'].outline:hover,
    input[type='button'].outline:active,
    input[type='button'].outline:focus,
    input[type='reset'].outline:hover,
    input[type='reset'].outline:active,
    input[type='reset'].outline:focus,
    input[type='submit'].outline:hover,
    input[type='submit'].outline:active,
    input[type='submit'].outline:focus {
      background: #333333;
      color: #fff; }

.btn-link {
  display: inline;
  line-height: 1.5;
  background: none;
  color: #333;
  -webkit-transition: color 0.35s, background 0.3s;
  transition: color 0.35s, background 0.3s; }
  .btn-link:hover, .btn-link:active, .btn-link:focus {
    background: none;
    color: #0075a9; }
  .btn-link.disabled, .btn-link[disabled], fieldset[disabled] .btn-link {
    opacity: 1;
    color: #ececec;
    background: none; }

.goTop, .goTop:hover, .goTop:active {
  color: #0075a9 !important; }

.goTop {
  z-index: 99;
  position: fixed;
  right: 2%;
  bottom: 2%;
  -webkit-transition: color 1s, opacity .5s;
  transition: color 1s, opacity .5s;
  opacity: 0.65;
  font-size: 2.1875em;
  color: #0075a9; }
  .goTop:hover, .goTop:active {
    opacity: 1; }
  .goTop small, .goTop i {
    display: block; }
  .goTop small {
    margin-top: -12px; }
  .goTop i {
    margin-top: -5px; }

.fadeIn {
  -webkit-animation: fadeIn 1s 1 forwards;
  animation: fadeIn 1s 1 forwards; }
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
.fadeOut {
  -webkit-animation: fadeOut 1s 1 forwards;
  animation: fadeOut 1s 1 forwards; }
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px); } }
@keyframes fadeOut {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px); } }
.block {
  display: block; }

.inline-block {
  display: inline-block; }

.inline {
  display: inline; }

.clear {
  clear: both; }

.hidden {
  display: none; }

.circle {
  border-radius: 50%; }

.img-center {
  display: block;
  margin: auto; }

.m-x-a {
  margin-right: auto;
  margin-left: auto; }

.m-a-0 {
  margin: 0; }

.m-t-0 {
  margin-top: 0; }

.m-r-0 {
  margin-right: 0; }

.m-b-0 {
  margin-bottom: 0; }

.m-l-0 {
  margin-left: 0; }

.m-x-0 {
  margin-right: 0;
  margin-left: 0; }

.m-y-0 {
  margin-top: 0;
  margin-bottom: 0; }

.m-a-2 {
  margin: 0.125rem; }

.m-t-2 {
  margin-top: 0.125rem; }

.m-r-2 {
  margin-right: 0.125rem; }

.m-b-2 {
  margin-bottom: 0.125rem; }

.m-l-2 {
  margin-left: 0.125rem; }

.m-x-2 {
  margin-right: 0.125rem;
  margin-left: 0.125rem; }

.m-y-2 {
  margin-top: 0.125rem;
  margin-bottom: 0.125rem; }

.m-a-4 {
  margin: 0.25rem; }

.m-t-4 {
  margin-top: 0.25rem; }

.m-r-4 {
  margin-right: 0.25rem; }

.m-b-4 {
  margin-bottom: 0.25rem; }

.m-l-4 {
  margin-left: 0.25rem; }

.m-x-4 {
  margin-right: 0.25rem;
  margin-left: 0.25rem; }

.m-y-4 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem; }

.m-a-8 {
  margin: 0.5rem; }

.m-t-8 {
  margin-top: 0.5rem; }

.m-r-8 {
  margin-right: 0.5rem; }

.m-b-8 {
  margin-bottom: 0.5rem; }

.m-l-8 {
  margin-left: 0.5rem; }

.m-x-8 {
  margin-right: 0.5rem;
  margin-left: 0.5rem; }

.m-y-8, .news-list a {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.m-a-12 {
  margin: 0.75rem; }

.m-t-12 {
  margin-top: 0.75rem; }

.m-r-12 {
  margin-right: 0.75rem; }

.m-b-12 {
  margin-bottom: 0.75rem; }

.m-l-12, #menu li {
  margin-left: 0.75rem; }

.m-x-12 {
  margin-right: 0.75rem;
  margin-left: 0.75rem; }

.m-y-12 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem; }

.m-a-16 {
  margin: 1rem; }

.m-t-16 {
  margin-top: 1rem; }

.m-r-16 {
  margin-right: 1rem; }

.m-b-16 {
  margin-bottom: 1rem; }

.m-l-16 {
  margin-left: 1rem; }

.m-x-16 {
  margin-right: 1rem;
  margin-left: 1rem; }

.m-y-16 {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.m-a-24 {
  margin: 1.5rem; }

.m-t-24 {
  margin-top: 1.5rem; }

.m-r-24 {
  margin-right: 1.5rem; }

.m-b-24 {
  margin-bottom: 1.5rem; }

.m-l-24 {
  margin-left: 1.5rem; }

.m-x-24 {
  margin-right: 1.5rem;
  margin-left: 1.5rem; }

.m-y-24 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

.m-a-32 {
  margin: 2rem; }

.m-t-32 {
  margin-top: 2rem; }

.m-r-32 {
  margin-right: 2rem; }

.m-b-32 {
  margin-bottom: 2rem; }

.m-l-32 {
  margin-left: 2rem; }

.m-x-32 {
  margin-right: 2rem;
  margin-left: 2rem; }

.m-y-32 {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.m-a-48 {
  margin: 3rem; }

.m-t-48 {
  margin-top: 3rem; }

.m-r-48 {
  margin-right: 3rem; }

.m-b-48 {
  margin-bottom: 3rem; }

.m-l-48 {
  margin-left: 3rem; }

.m-x-48 {
  margin-right: 3rem;
  margin-left: 3rem; }

.m-y-48 {
  margin-top: 3rem;
  margin-bottom: 3rem; }

.m-a-64 {
  margin: 4rem; }

.m-t-64 {
  margin-top: 4rem; }

.m-r-64 {
  margin-right: 4rem; }

.m-b-64 {
  margin-bottom: 4rem; }

.m-l-64 {
  margin-left: 4rem; }

.m-x-64 {
  margin-right: 4rem;
  margin-left: 4rem; }

.m-y-64 {
  margin-top: 4rem;
  margin-bottom: 4rem; }

.p-a-0 {
  padding: 0; }

.p-t-0 {
  padding-top: 0; }

.p-r-0 {
  padding-right: 0; }

.p-b-0 {
  padding-bottom: 0; }

.p-l-0, .foot-contact dd {
  padding-left: 0; }

.p-x-0 {
  padding-right: 0;
  padding-left: 0; }

.p-y-0 {
  padding-top: 0;
  padding-bottom: 0; }

.p-a-2 {
  padding: 0.125rem; }

.p-t-2 {
  padding-top: 0.125rem; }

.p-r-2 {
  padding-right: 0.125rem; }

.p-b-2 {
  padding-bottom: 0.125rem; }

.p-l-2 {
  padding-left: 0.125rem; }

.p-x-2 {
  padding-right: 0.125rem;
  padding-left: 0.125rem; }

.p-y-2 {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem; }

.p-a-4 {
  padding: 0.25rem; }

.p-t-4 {
  padding-top: 0.25rem; }

.p-r-4 {
  padding-right: 0.25rem; }

.p-b-4 {
  padding-bottom: 0.25rem; }

.p-l-4 {
  padding-left: 0.25rem; }

.p-x-4 {
  padding-right: 0.25rem;
  padding-left: 0.25rem; }

.p-y-4 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem; }

.p-a-8 {
  padding: 0.5rem; }

.p-t-8 {
  padding-top: 0.5rem; }

.p-r-8 {
  padding-right: 0.5rem; }

.p-b-8 {
  padding-bottom: 0.5rem; }

.p-l-8 {
  padding-left: 0.5rem; }

.p-x-8 {
  padding-right: 0.5rem;
  padding-left: 0.5rem; }

.p-y-8 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.p-a-12 {
  padding: 0.75rem; }

.p-t-12 {
  padding-top: 0.75rem; }

.p-r-12 {
  padding-right: 0.75rem; }

.p-b-12 {
  padding-bottom: 0.75rem; }

.p-l-12 {
  padding-left: 0.75rem; }

.p-x-12 {
  padding-right: 0.75rem;
  padding-left: 0.75rem; }

.p-y-12 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem; }

.p-a-16 {
  padding: 1rem; }

.p-t-16 {
  padding-top: 1rem; }

.p-r-16, #menu li > a {
  padding-right: 1rem; }

.p-b-16, #footer, #menu li > a {
  padding-bottom: 1rem; }

.p-l-16 {
  padding-left: 1rem; }

.p-x-16 {
  padding-right: 1rem;
  padding-left: 1rem; }

.p-y-16 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.p-a-24 {
  padding: 1.5rem; }

.p-t-24, #footer {
  padding-top: 1.5rem; }

.p-r-24 {
  padding-right: 1.5rem; }

.p-b-24 {
  padding-bottom: 1.5rem; }

.p-l-24 {
  padding-left: 1.5rem; }

.p-x-24 {
  padding-right: 1.5rem;
  padding-left: 1.5rem; }

.p-y-24 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

.p-a-32 {
  padding: 2rem; }

.p-t-32 {
  padding-top: 2rem; }

.p-r-32 {
  padding-right: 2rem; }

.p-b-32 {
  padding-bottom: 2rem; }

.p-l-32 {
  padding-left: 2rem; }

.p-x-32 {
  padding-right: 2rem;
  padding-left: 2rem; }

.p-y-32 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.p-a-48 {
  padding: 3rem; }

.p-t-48 {
  padding-top: 3rem; }

.p-r-48 {
  padding-right: 3rem; }

.p-b-48 {
  padding-bottom: 3rem; }

.p-l-48 {
  padding-left: 3rem; }

.p-x-48 {
  padding-right: 3rem;
  padding-left: 3rem; }

.p-y-48 {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.p-a-64 {
  padding: 4rem; }

.p-t-64 {
  padding-top: 4rem; }

.p-r-64 {
  padding-right: 4rem; }

.p-b-64 {
  padding-bottom: 4rem; }

.p-l-64 {
  padding-left: 4rem; }

.p-x-64 {
  padding-right: 4rem;
  padding-left: 4rem; }

.p-y-64 {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.text-left, .sub-nav {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.font-sp {
  font-family: "Didact Gothic", sans-serif; }

.text-white, #footer, #footer a {
  color: #fff; }

.bg-white {
  background: #fff; }

.text-primary {
  color: #006390; }

.bg-primary, .btn.primary,
button.primary,
input[type='button'].primary,
input[type='reset'].primary,
input[type='submit'].primary {
  background: #0075a9; }

.hover-text-primary:hover, #menu a:hover, .hover-text-primary:active, #menu a:active {
  color: #0087c3; }

.hover-primary:hover, .btn.primary:hover,
button.primary:hover,
input[type='button'].primary:hover,
input[type='reset'].primary:hover,
input[type='submit'].primary:hover, .hover-primary:active, .btn.primary:active,
button.primary:active,
input[type='button'].primary:active,
input[type='reset'].primary:active,
input[type='submit'].primary:active {
  background: #0091d2; }

.text-secondary {
  color: #a07540; }

.bg-secondary, .btn.secondary,
button.secondary,
input[type='button'].secondary,
input[type='reset'].secondary,
input[type='submit'].secondary {
  background: #b28247; }

.hover-text-secondary:hover, .news-list a:hover, .hover-text-secondary:active, .news-list a:active {
  color: #bc8e57; }

.hover-secondary:hover, .btn.secondary:hover,
button.secondary:hover,
input[type='button'].secondary:hover,
input[type='reset'].secondary:hover,
input[type='submit'].secondary:hover, .hover-secondary:active, .btn.secondary:active,
button.secondary:active,
input[type='button'].secondary:active,
input[type='reset'].secondary:active,
input[type='submit'].secondary:active {
  background: #c09662; }

.text-muted {
  color: #dfdfdf; }

.bg-muted, .btn.muted,
button.muted,
input[type='button'].muted,
input[type='reset'].muted,
input[type='submit'].muted {
  background: #ececec; }

.hover-text-muted:hover, .hover-text-muted:active {
  color: #f9f9f9; }

.hover-muted:hover, .btn.muted:hover,
button.muted:hover,
input[type='button'].muted:hover,
input[type='reset'].muted:hover,
input[type='submit'].muted:hover, .hover-muted:active, .btn.muted:active,
button.muted:active,
input[type='button'].muted:active,
input[type='reset'].muted:active,
input[type='submit'].muted:active {
  background: white; }

.text-success {
  color: #009ca4; }

.bg-success, .btn.success,
button.success,
input[type='button'].success,
input[type='reset'].success,
input[type='submit'].success {
  background: #00b4bd; }

.hover-text-success:hover, .hover-text-success:active {
  color: #00ccd7; }

.hover-success:hover, .btn.success:hover,
button.success:hover,
input[type='button'].success:hover,
input[type='reset'].success:hover,
input[type='submit'].success:hover, .hover-success:active, .btn.success:active,
button.success:active,
input[type='button'].success:active,
input[type='reset'].success:active,
input[type='submit'].success:active {
  background: #00dbe6; }

.text-info {
  color: #2a8ce2; }

.bg-info, .btn.info,
button.info,
input[type='button'].info,
input[type='reset'].info,
input[type='submit'].info {
  background: #4098e5; }

.hover-text-info:hover, .hover-text-info:active {
  color: #56a4e8; }

.hover-info:hover, .btn.info:hover,
button.info:hover,
input[type='button'].info:hover,
input[type='reset'].info:hover,
input[type='submit'].info:hover, .hover-info:active, .btn.info:active,
button.info:active,
input[type='button'].info:active,
input[type='reset'].info:active,
input[type='submit'].info:active {
  background: #64abea; }

.text-warning {
  color: #c29450; }

.bg-warning, .btn.warning,
button.warning,
input[type='button'].warning,
input[type='reset'].warning,
input[type='submit'].warning {
  background: #c9a063; }

.hover-text-warning:hover, .hover-text-warning:active {
  color: #d0ac76; }

.hover-warning:hover, .btn.warning:hover,
button.warning:hover,
input[type='button'].warning:hover,
input[type='reset'].warning:hover,
input[type='submit'].warning:hover, .hover-warning:active, .btn.warning:active,
button.warning:active,
input[type='button'].warning:active,
input[type='reset'].warning:active,
input[type='submit'].warning:active {
  background: #d3b281; }

.text-danger {
  color: #593d3e; }

.bg-danger, .btn.danger,
button.danger,
input[type='button'].danger,
input[type='reset'].danger,
input[type='submit'].danger {
  background: #684749; }

.hover-text-danger:hover, .hover-text-danger:active {
  color: #775154; }

.hover-danger:hover, .btn.danger:hover,
button.danger:hover,
input[type='button'].danger:hover,
input[type='reset'].danger:hover,
input[type='submit'].danger:hover, .hover-danger:active, .btn.danger:active,
button.danger:active,
input[type='button'].danger:active,
input[type='reset'].danger:active,
input[type='submit'].danger:active {
  background: #80585a; }

@media (max-width: 63.9375em) {
  .mobile-hide {
    display: none;
    visibility: hidden; } }

figure > a {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

figcaption {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }
  figcaption::before, figcaption::after {
    pointer-events: none; }
  figcaption a {
    z-index: 2;
    position: relative; }

figure {
  position: relative;
  overflow: hidden;
  margin: 0; }
  figure > a {
    z-index: 1;
    opacity: 0;
    background: #fff; }
  @media (max-width: 63.9375em) {
    figure {
      float: none;
      display: inline-block; } }
  @media (max-width: 48em) {
    figure {
      width: 48%;
      max-width: none;
      margin: 3px;
      margin-bottom: 15px; } }
  @media (max-width: 35.5em) {
    figure {
      width: 100%; } }

.font-tiny, #footer, .goTop small {
  font-size: 13px;
  font-size: 0.8125rem; }

.font-sm, .sub-nav, .btn.sm,
button.sm,
input[type='button'].sm,
input[type='reset'].sm,
input[type='submit'].sm {
  font-size: 14px;
  font-size: 0.875rem; }

.font-md {
  font-size: 16px;
  font-size: 1rem; }

.font-lg, .btn.lg,
button.lg,
input[type='button'].lg,
input[type='reset'].lg,
input[type='submit'].lg {
  font-size: 20px;
  font-size: 1.25rem; }

.font-xl {
  font-size: 24px;
  font-size: 1.5rem; }

.font-xxl {
  font-size: 32px;
  font-size: 2rem; }

.font-xxxl {
  font-size: 40px;
  font-size: 2.5rem; }

.font-jumbo {
  font-size: 60px;
  font-size: 3.75rem; }

.w-30 {
  width: 30%; }

.underline {
  border-bottom: 1px solid; }

#banner {
  position: relative;
  max-width: 1200px; }
  #banner img {
    max-width: 100%; }

h2 {
  line-height: 1.35; }

.grid {
  display: inline-block;
  vertical-align: top;
  width: 33%; }
  .grid h3 {
    color: #434343;
    margin-top: 16px;
    margin-bottom: 20px; }
  .grid .circle {
    width: 260px;
    height: 260px; }

.title {
  font-family: 'cwTeXMing', serif;
  font-weight: 800;
  letter-spacing: 1.2px;
  src: url("//fonts.gstatic.com/ea/cwtexming/v3/cwTeXMing-zhonly.eot");
  src: url("//fonts.gstatic.com/ea/cwtexming/v3/cwTeXMing-zhonly.eot?#iefix") format("embedded-opentype"), url("//fonts.gstatic.com/ea/cwtexming/v3/cwTeXMing-zhonly.woff2") format("woff2"), url("//fonts.gstatic.com/ea/cwtexming/v3/cwTeXMing-zhonly.woff") format("woff"), url("//fonts.gstatic.com/ea/cwtexming/v3/cwTeXMing-zhonly.ttf") format("truetype"); }
  .title.underline {
    border-width: 2px;
    line-height: 1; }
    .title.underline span {
      border-bottom: 2px solid #ececec; }

.products {
  text-align: left;
  padding: 80px 0 0 100px; }
  .products .title {
    margin-bottom: 90px; }

.news-list {
  max-height: 200px; }
  .news-list a {
    display: block;
    color: #000;
    position: relative;
    padding-left: 18px; }
    .news-list a::before {
      background: #000;
      width: 6px;
      height: 6px;
      position: absolute;
      top: 8px;
      left: 0; }
      .news-list a::before {
        content: '';
        display: block; }
