@charset "UTF-8";

// == 字換圖
@mixin text-pic($img, $width:false, $height:false, $seat: 0 0) {
    @extend %text-hide;

    background: url(#{$img-path}/#{$img}) $seat no-repeat;

    @if $width  { width: $width; }
    @if $height { height: $height; }
}

// == 文字溢位出現省略號,要設寬度
@mixin text-overflow($width:100%) {
    @include mixin-dryer('text-overflow') {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    @if $width { width: $width; }
}

// == 文字邊框 ex. @include stroke(2,#fff);
@function stroke($stroke, $color) {
    $shadow: ();
    $from: $stroke*-1;
    @for $i from $from through $stroke {
        @for $j from $from through $stroke {
            $shadow: append($shadow, $i*1px $j*1px 0 $color, comma);
        }
    }
    @return $shadow;
}
@mixin stroke($stroke, $color) {
    text-shadow: stroke($stroke, $color);
}