@charset "UTF-8";

// $figure-style:            'inline-block' !default; // inline-block or float
// $figure-inline-hack:      false !default;
$figure-effect:           false !default;
$figure-img-full:         false !default;
$figcaption-full:         $figure-img-full !default;

// common style
%figure-overlay {
    @include size(100%);
    @include absolute(left 0 top 0);
}

figcaption {
    @include prefix(backface-visibility, hidden);
    &::before, &::after  { pointer-events: none; }
    @if $figcaption-full { @extend %figure-overlay; }
}

figure {
    position: relative;
    overflow: hidden;
    cursor: pointer;

    // @if ($figure-style == 'inline-block') {
    //     display: inline-block;
    //     vertical-align: top;
    //     @if $figure-inline-hack { margin-left: -4px; }
    // }
    @if $figure-effect { @include transition($figure-effect) }

    > a {
        @extend %figure-overlay, .bg-white;  // 背景色 for ie bugfix
        z-index: z(figure);
        opacity: 0;
    }

    @if $figure-img-full {
        img {
            position: relative;
            min-height: 100%;
            max-width: 100%;
        }
    }

    // RWD
    @if $enable-RWD {
        // @if ($figure-style == 'float') {
        //     @include mq-max(break(desktop, -1)) {
        //         float: none;
        //         display: inline-block;
        //     }
        // }
        // @include mq-max(break(desktop, -1)) {
        //     width: 48%;
        //     margin: 3px;
        //     margin-bottom: 15px;
        // }
        // @include mq-max(phone) {
        //     width: 100%;
        // }
    }
}