@charset "UTF-8";

$goTop-pos:        bottom 0 right 1% !default;
$goTop-effect:     'color 1s, padding .5s' !default;


//
// goTop
// --------------------------------------------------
.goTop {
    z-index: z(goTop);

    @include fixed($goTop-pos);
    @include transition($goTop-effect);

    @extend .text-white, .font-lg, .p-y-4, .p-x-12;
    background: rgba(#222, .9);
    border-radius: 3px 3px 0 0;
    // opacity: 0;
    display: none;

    &:hover, &:active {
        padding-bottom: 10px;
        box-shadow: 3px -5px 8px rgba(#000, .2);
    }
}

// .fadeIn {
//     @include diy-animate(gotopIn, 1s 1 forwards) {
//         0% {
//             opacity: 0;
//             @include prefix(transform, translateY(20px));
//         }
//         100% {
//             opacity: 1;
//             @include prefix(transform, translateY(0));
//         }
//     }
// }
// .fadeOut {
//     @include diy-animate(gotopOut, 1s 1 forwards) {
//         0% {
//             opacity: 1;
//             @include prefix(transform, translateY(0));
//         }
//         100% {
//             opacity: 0;
//             @include prefix(transform, translateY(20px));
//         }
//     }
// }