@charset "UTF-8";

$modal-top:       100px;
$modal-max-width: 630px;
$modal-min-width: 320px;

.modal {
    z-index: z(overlay);
    display: none;
    overflow: auto;
    padding-top: $modal-top;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, .85);
    position: relative;

    @include fixed(left 0 top 0);
    @include size(100%);

    @include diy-animate(fadeIn, .4s) {
        from { opacity: 0; }
        to   { top: 0; opacity: 1; }
    }

    @if $enable-RWD {
        @include mq-max(break(phone,-1)) {
            padding-top: 5%;
        }
    }
}
.modal-close {
    @include fixed(top 1% right 1%);
    font-size: em(50);
    color: $white;
    background: none;

    &:hover, &:focus {
        color: $light-yellow;
        cursor: pointer;
    }
}
.modal-content {
    margin: auto;
    background-color: #fff;
    width: 80%;

    @if $enable-RWD {
        @include mq-max(break(desktop,-1)) {
            width: 96%;
        }
    }

    // 本次專案
    @if $isIndex {
        #youtube & {
            position: relative;
            padding-bottom: 56.25%; // 16:9
            height: 0;
            background-color: #000;
            border: 3px solid #000;

            iframe {
                @include absolute(top 0 left 0);
                @include size(100%);
            }
        }
    }
}
// 特效
.animate-top {
    position: relative;

    @include diy-animate(slide-down, .4s) {
        from { top: -300px; opacity: 0; }
        to   { top: 0; opacity: 1; }
    }
}
.animate-zoom {
    @include diy-animate(animatezoom, .6s) {
        from { @include transform(scale(0)); }
        to   { @include transform(scale(1)); }
    }
}