@charset "UTF-8";

//
// tooltip
// --------------------------------------------------


.tooltip {
  position: relative;
  cursor: pointer;

    &::before,
    &::after {
        position: absolute;
        visibility: hidden;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;

        $prefixs: '-webkit-' '-moz-' null;

        @each $prefix in $prefixs {
            #{$prefix}transition:
                opacity 0.2s ease-in-out,
                visibility 0.2s ease-in-out,
                #{$prefix}transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
        }

        @include prefix(transform, translate3d(0, 0, 0), webkit moz);

        pointer-events: none;
    }

    &:hover::before,
    &:hover::after,
    &:focus::before,
    &:focus::after {
        visibility: visible;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1;
    }

    &::before {
        z-index: z(tooltip);
        border: 6px solid transparent;
        background: transparent;
        content: "";
    }

    &::after {
        z-index: z(tooltip) - 1;
        padding: 8px;
        width: 100%;
        background-color: #000;
        background-color: hsla(0, 0%, 20%, 0.9);
        color: $white;
        content: attr(data-tooltip);
        font-size: em(15px);
        line-height: 1.2;
        text-align: center;
    }

    &::before,
    &::after {
        bottom: 100%;
        left: 50%;
    }

    &::before {
        margin-left: -6px;
        margin-bottom: -12px;
        border-top-color: #000;
        border-top-color: hsla(0, 0%, 20%, 0.9);
    }

    // Horizontally align top/bottom tooltips
    &::after {
        left: 0;
    }

    &:hover::before,
    &:hover::after,
    &:focus::before,
    &:focus::after {
        @include prefix(transform, translateY(-12px), webkit moz);
    }
}

a.tooltip {
    display: inline-block;
}